<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<title>Example Title</title>
	<meta name="author" content="Your Name">
	<meta name="description" content="Example description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="Tabs.css">
	<link rel="icon" type="image/x-icon" href=""/>
	
	<link rel="preload" href="../T--IISER_Bhopal--loader.mp4" as="video" type="video/mp4">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<script src="https://kit.fontawesome.com/df7451b09d.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="../Common/bootstrap.min.css" />
	<link rel="stylesheet" href="../Common/animations.min.css" />
	<link rel="stylesheet" href="stylesheet.css" />


	<script src="../Common/NavBar/jquery-3.5.1.min.js" charset="utf-8"></script>
	<script src="../Common/NavBar/bootstrap.min.js" charset="utf-8"></script>

	<link rel="stylesheet" href="../Common/Pre-footer_buttons/footer_button_style.css" />
	<link rel="stylesheet" href="../Common/NavBar/custom-navbar.css" />
	
	
	
</head>

<body>
	
		<div class="container cards">
			<div class="naccs">
				<div class="grid">
					<div class="gc gc--1-of-3">
						<div class="menu">
							<div class="active"><span class="light"></span><span>Alpha</span></div>
							<div><span class="light"></span><span>Beta</span></div>
							<div><span class="light"></span><span>Gamma</span></div>
						</div>
					</div>
					<div class="gc gc--2-of-3">
						<ul class="nacc">
							<li class="active">
								<div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</li>
							<li>
								<div>
									<p>Ultrices sagittis orci a scelerisque purus semper eget duis at. Pulvinar pellentesque habitant morbi tristique. Tincidunt augue interdum velit euismod in pellentesque massa placerat duis. Egestas dui id ornare arcu odio ut sem nulla. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Eget mi proin sed libero enim sed. Gravida cum sociis natoque penatibus et. Cursus risus at ultrices mi tempus imperdiet. Ornare aenean euismod elementum nisi. Cursus eget nunc scelerisque viverra mauris in aliquam sem. Maecenas sed enim ut sem viverra aliquet eget sit. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. Euismod lacinia at quis risus sed vulputate odio ut enim.</p>
								</div>
							</li>
							<li>
								<div>
									<p>Tristique senectus et netus et. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque sit. Nibh mauris cursus mattis molestie a iaculis at. Venenatis a condimentum vitae sapien pellentesque. Lorem ipsum dolor sit amet consectetur adipiscing. Ornare suspendisse sed nisi lacus sed viverra. Tempus quam pellentesque nec nam aliquam sem. Sagittis nisl rhoncus mattis rhoncus urna. Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Dictumst vestibulum rhoncus est pellentesque elit. Sit amet justo donec enim diam vulputate. Aenean euismod elementum nisi quis. Vitae nunc sed velit dignissim sodales ut eu sem integer. Tortor at risus viverra adipiscing at in tellus integer feugiat. </p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	<script type="text/javascript" src=""></script>
	<script>
		// Acc
		$(document).on("click", ".naccs .menu div", function() {
			var numberIndex = $(this).index();

			if (!$(this).is("active")) {
				$(".naccs .menu div").removeClass("active");
				$(".naccs ul li").removeClass("active");

				$(this).addClass("active");
				$(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

				var listItemHeight = $(".naccs ul")
					.find("li:eq(" + numberIndex + ")")
					.innerHeight();
				$(".naccs ul").height(listItemHeight + "px");
			}
		});

	</script>
</body>

</html>