

.grid {
	list-style: none;
	margin-left: -40px;
}

.gc {
	box-sizing: border-box;
	display: inline-block;
	margin-right: -0.25em;
	min-height: 1px;
	padding-left: 40px;
	vertical-align: top;
}

.gc--1-of-3 {
	width: 33.33333%;
}

.gc--2-of-3 {
	width: 66.66666%;
}

.naccs {
	position: relative;
	max-width: 900px;
	margin: 100px auto 0;
}

.naccs .menu div {
	padding: 15px 20px 15px 40px;
	margin-bottom: 10px;
	color: #303f9f;
	color: #000;
	background: #3f51b5;
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	font-weight: 700;
	transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
	height: 10px;
	width: 10px;
	position: absolute;
	top: 24px;
	left: 15px;
	background-color: #303f9f;
	background-color: ;
	border-radius: 100%;
	transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
	background-color: #fbc02d;
	background-color: green;
	left: 0;
	height: 100%;
	width: 4px;
	top: 0;
	border-radius: 0;
}

.naccs .menu div.active {
	color: #fbc02d;
	color: #000;
	
	padding: 15px 20px 15px 20px;
}

ul.nacc {
	position: relative;
	height: 0px;
	list-style: none;
	margin: 0;
	padding: 0;
	transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
	opacity: 0;
	transform: translateX(50px);
	position: absolute;
	list-style: none;
	transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
	transition-delay: 0.3s;
	z-index: 2;
	opacity: 1;
	transform: translateX(0px);
}

ul.nacc li p {
	margin: 0;
	padding: 1%;
}