@font-face {
	font-family: "Hp Simplified";
	src: url(../Common/Font/hp-simplified.ttf) format("truetype");
}

@font-face {
	font-family: "Anne";
	src: url("../Common/Font/Penelope%20Anne.ttf") format("truetype");
}

@font-face {
	font-family: "Champagne";
	src: url("../Common/Font/Champagne%20&%20Limousines.ttf") format("truetype");
}

@font-face {
	font-family: "Tommy";
	src: url("Made%2520Tommy/MADE%20TOMMY%20ExtraBold_PERSONAL%20USE.otf") format("truetype");
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
}

@media(max-width:500px) {
	h1 {
		font-size: 1.5rem;
	}
}

.dark {
	background-color: #fff;
}

.videoWrapper {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 0;
}

@media(max-width:500px) {
	.videoWrapper {
		padding-top: 5.5%;
	}
}

.videoWrapper video {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	/*margin: 4% auto 4% auto;*/  /*if we ever bring back color*/
	background-size: cover;
}

.blank-space {
	padding: 2% 0 2% 0;
}

.atlas {
	display: block;
	width: 100%;
	float: right;
	margin: auto;
}

.primary-carousel-container {
	background-color: #000;
	display: block;
	margin: auto;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}

@media(max-width:1000px) {
	.primary-carousel-container {
		margin-top: 0;
		margin-bottom: 10%;
	}

	.overlay {
		margin: auto;
	}
}

@media(max-width:500px) {
	.primary-carousel-container {
		margin-top: 50%;
	}

	.overlay {
		margin: auto;
	}
}

.pie-slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

@media(max-width:1000px) {
	.pie-slider {
		height: 50vh;
	}
}

@media(max-width:500px) {
	.pie-slider {
		height: 50vh;
	}
}

.pie-slider .carousel-cell {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

@media(max-width:500px) {
	.pie-slider .carousel-cell {
		height: 50vh;
	}
}

.pie-slider .carousel-cell .inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	text-align: center;
}

.pie-slider .carousel-cell .inner .subtitle {
	font-family: 'Roboto Slab', serif;
	font-size: 2.2rem;
	line-height: 1.2em;
	font-weight: 200;
	font-style: italic;
	letter-spacing: 3px;
	color: #E6E6FA;
	margin-bottom: 5px;
}

.pie-slider .carousel-cell .inner .title {
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 40px;
	margin-left: 60px;
	margin-right: 60px;
	color: rgba(255, 255, 255, 0.75);
}

@media(max-width:500px) {
	.pie-slider .carousel-cell .inner .title {
		font-size: 1rem;
		color: red;
	}
}

.pie-slider .carousel-cell .inner .btn {
	border: 1px solid #fff;
	padding: 5px 9px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 2px;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	transition: all 1s ease;
}

.pie-slider .carousel-cell .inner .btn:hover {
	background-color: #fff;
	color: #000;
}

.pie-slider .flickity-page-dots {
	bottom: 30px;
}

.pie-slider .flickity-page-dots .dot {
	width: 30px;
	height: 4px;
	opacity: 1;
	background: rgba(255, 255, 255, 0.75);
	border: 0 solid white;
	border-radius: 0;
}

.pie-slider .flickity-page-dots .dot.is-selected {
	background: #f00;
	border: 0 solid #f00;
}

.bigpie {
	font-size: 10rem;
	color: #000;
	line-height: 10px;
	white-space: nowrap;
	text-decoration: 10px underline;
	text-align: center;
	margin: auto;
	letter-spacing: 0;
}

@media(max-width:500px) {
	.bigpie {
		font-size: 5rem;
	}
}

/*-----Custom fonts for bigpie-----*/

tbig {
	font-family: Hp Simplified;
	line-height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .05em;
}

tpie {
	font-family: Anne;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .05em;
}

.bigpietext {
	line-height: 180%;
	font-size: 25px;
	font-weight: 100;
	color: #000;
	margin: auto auto 5% auto;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

ttext {
	font-family: Champagne;
	font-size: 3rem;
}

ttext b {
	font-family: Champagne;
	font-weight: 1000;
	color: #000;
}

ttext b:nth-child(1) {
	color: #000;
}

ttext b:nth-child(2) {
	color: #000;
}

ttext b:nth-child(3) {
	color: #000;
}

ttext b:nth-child(4) {
	color: #000;
}

ttext b:nth-child(5) {
	color: #000;
}

ttext b:nth-child(6) {
	color: #000;
}

@media(max-width:500px) {
	ttext {
		font-size: 1.5rem;
		margin-bottom: 10%;
	}
}

.scary {
	content: "";
	font-size: 1.5rem;
	font-weight: 800;
	display: flex;
	color: #000;
	padding: 2% 5% 2% 5%;
	vertical-align: middle;
	align-items: center;
	height: 100%;
	text-align: left;
	line-height: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .05em;
	background-color: rgba(0, 0, 0, 0.05);
}

@media(max-width:500px) {
	.scary {
		color: #000;
		display: block;
		padding: 5.5% 2% 0 2%;
		padding: 6% 0 12% 0;
		font-size: 0.75rem;
		border: 15px solid red;
		text-align: center;
		margin-bottom: 0;
		padding-bottom: 0;
		margin-left: 0px;
		border: none;
	}
}

.pill {
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	color: rgba(0, 0, 0, 1);
}

@media(max-width:500px) {
	.pill {
		font-size: 1.5rem;
	}
}

.sol2 {
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
}

.sol3 {
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	margin: 2% auto 0 auto;
}

.pieLine {
	display: block;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	width: 76%;
	height: 12px;
	margin: 1% auto 2% auto;
	margin: auto;
	border-radius: 10px;
}

.child {
	margin: auto;
	padding: 10% 5% 10% 5%;
}

@media(max-width:500px) {
	.child {
		margin: auto;
		padding: 10% 5% 10% 5%;
	}
}

.One {
	background-color: #ccff66;
}

.One .child {
	margin: auto;
}

.Two {
	background-color: #66aabb;
}

.Two .child {
	margin: auto;
}

.Three {
	background-color: #74e5ff;
}

.Three .child {
	margin: auto;
}

.Four {
	background-color: rgba(255, 255, 3, 0.5);
}

.Four .child {
	margin: auto;
}

.alpha .row img {
	margin: 20% auto 20% auto;
}

@media(max-width:500px) {
	.alpha .row img {
		margin: auto;
	}
}

.headers {
	font-family: 'Raleway', sans-serif;
}

.alpha p {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 17.6px;
	font-weight: 400;
	line-height: 30.8px;
	color: rgb(61, 61, 61);
	margin: auto;
	margin: 5% auto 5% auto;
}

.caused h1{
	font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-weight: 1000;
	font-size-adjust: auto;
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 4%;
}


.diabetes-2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 2rem;
}

.button-label {
	height: 100%;
	width: 5px;
	background: #f4a261;
	z-index: 2;
}

.button-text {
	font-size: 1.2em;
	color: #6f6f6ff2;
}

/*ButtonA*/

.buttonA {
	width: 200px;
	height: 45px;
	padding: 0;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 14px -7px rgba(0, 0, 0, 0.2);
	position: relative;
}

.buttonA::before {
	width: 50px;
	transition: width 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonA::before {
	content: "";
	width: 5px;
	height: 100%;
	background: #4cc9f0;
	position: absolute;
	top: 0;
	left: 0;
}

.buttonA:hover::before {
	width: 100%;
	content: "Design";
	color: #000;
	background: #ccff66;
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
}

/*ButtonB*/

.buttonB {
	width: 200px;
	height: 45px;
	padding: 0;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 14px -7px rgba(0, 0, 0, 0.2);
	position: relative;
}

.buttonB::before {
	width: 50px;
	transition: width 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonB::before {
	content: "";
	width: 5px;
	height: 100%;
	background: #ffe625;
	position: absolute;
	top: 0;
	left: 0;
}

.buttonB:hover::before {
	width: 100%;
	content: "HP";
	color: #000;
	background: #4cc9f0;
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
}

/*ButtonC*/

.buttonC {
	width: 200px;
	height: 45px;
	padding: 0;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 14px -7px rgba(0, 0, 0, 0.2);
	position: relative;
}

.buttonC::before {
	width: 50px;
	transition: width 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonC::before {
	content: "";
	width: 5px;
	height: 100%;
	background-color: #373737;
	position: absolute;
	top: 0;
	left: 0;
}

.buttonC:hover::before {
	width: 100%;
	content: "IMPLEMENTATION";
	color: #000;
	background-color: #74e5ff;
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
}

/*ButtonD*/

.buttonD {
	width: 200px;
	height: 45px;
	padding: 0;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 14px -7px rgba(0, 0, 0, 0.2);
	position: relative;
}

.buttonD::before {
	width: 50px;
	transition: width 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonD::before {
	content: "";
	width: 5px;
	height: 100%;
	background: #373737;
	position: absolute;
	top: 0;
	left: 0;
}

.buttonD:hover::before {
	width: 100%;
	content: "Safety";
	color: #000;
	background: rgba(255, 250, 3, 1);
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
}

.solution-img {
	width: 80%;
	display: block;
	margin: auto;
	text-align: center;
}
@media(max-width:600px) {
	.solution-img {
		width: 100%;
	}
}

/*Scroll Down*/

#scrollIndicator {
	position: absolute;
	left: 50%;
	margin-left: -15px;
	bottom: 17%;
	margin-top: 0;
}

@media(max-width:500px) {
	#scrollIndicator {
		display: none;
	}
}

#scrollIndicator i {
	width: 30px;
	height: 30px;
	display: block;
	background: url('arrow.png') no-repeat center center transparent;
	background-size: 20px;
	border-radius: 100%;
	color: #fff;
	position: absolute;
	z-index: 100;
	left: 10px;
	top: 10px;
}

#scrollIndicator:before,
#scrollIndicator:after {
	content: "";
	top: 0;
	left: 0;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute;
	opacity: 0;
}

#scrollIndicator:before {
	-webkit-animation: jumper 1.8s 0.33333s ease-out infinite;
}

#scrollIndicator:after {
	-webkit-animation: jumper 1.8s 0.66666s ease-out infinite;
}

@-webkit-keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	5% {
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	5% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/*  scroll css section here*/

.scrolltop .icon {
	font-size: 3.75rem;
	text-align: center;
	transform: rotate(0deg);
	color: #336699;
	margin: auto;
	margin-left: 14%;
	margin-top: -10%;
	color: darkorange;
}

.scrolltop {
	position: fixed;
	bottom: 70px;
	right: 50px;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	background-color: transparent;
	display: none;
}

@media(max-width:500px) {
	.scrolltop {
		display: none;
	}
}

.section-know {
	margin: auto auto 2% auto;
}

.section-know:after {
	border-bottom: 2px solid red;
}

footer {
	margin-top: 0;
}

/*Custom scroll bar*/

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 13px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}
