@font-face {
	font-family: "Hp Simplified";
	src: url(../Common/Font/hp-simplified.ttf) format("truetype");
}

@font-face {
	font-family: "Anne";
	src: url("../Common/Font/Penelope%20Anne.ttf") format("truetype");
}

@font-face {
	font-family: "Champagne";
	src: url("../Common/Font/Champagne%20&%20Limousines.ttf") format("truetype");
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	background-image: url()
}

.dark {
	background-color: #fff;
}

.videoWrapper {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 0;
}

@media(max-width:500px) {
	.videoWrapper {
		padding-top: 5.5%;
	}
}

.videoWrapper video {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.scary {
	content: "";
	font-size: 1.75rem;
	font-weight: 600;
	display: flex;
	color: #000;
	padding: 0 5% 0 5%;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	/*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
}

.scary video {
	width: 55vw;
	height: auto;
	border-radius: 100%;
	margin-left: 10px;
}

@media(max-width:500px) {
	.scary {
		color: #000;
		padding: 5.5% 2% 0 2%;
		font-size: 0.75rem;
		text-align: center;
		margin-bottom: 0;
		padding-bottom: 0;
		margin-left: 0px;
		border: none;
	}

	.scary video {
		width: 50vw;
	}
}

.blank-space {
	padding: 2% 0 2% 0;
}

.patient_counter {
	padding: 10px 0 0 0;
	margin: 10px 0 0 0;
	color: #000;
	display: block;
	white-space: nowrap;
	border-bottom: 5px solid red;
	border-radius: 10px;
	font-size: 3rem;
	text-align: center;
	-webkit-animation: colorchange 20s infinite alternate;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media(max-width:500px) {
	.patient_counter {
		font-size: 1.05rem;
	}
}

@media(max-width:400px) {
	.patient_counter {
		font-size: 0.75rem;
	}
}

@-webkit-keyframes colorchange {
	0% {

		color: blue;
	}

	10% {

		color: #8e44ad;
	}

	20% {

		color: #1abc9c;
	}

	30% {

		color: #d35400;
	}

	40% {

		color: blue;
	}

	50% {

		color: #34495e;
	}

	60% {

		color: blue;
	}

	70% {

		color: #2980b9;
	}

	80% {

		color: #f1c40f;
	}

	90% {

		color: #2980b9;
	}

	100% {

		color: pink;
	}
}

.primary-carousel-container {
	background-color: #000;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}

@media(max-width:500px) {
	.overlay {
		margin: auto;
	}
}

.pie-slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

@media(max-width:500px) {
	.pie-slider {
		height: 50vh;
	}
}

.pie-slider .carousel-cell {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

@media(max-width:500px) {
	.pie-slider .carousel-cell {
		height: 50vh;
	}
}

.pie-slider .carousel-cell .inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	text-align: center;
}

.pie-slider .carousel-cell .inner .subtitle {
	font-family: 'Roboto Slab', serif;
	font-size: 2.2rem;
	line-height: 1.2em;
	font-weight: 200;
	font-style: italic;
	letter-spacing: 3px;
	color: #E6E6FA;
	margin-bottom: 5px;
}

.pie-slider .carousel-cell .inner .title {
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 40px;
	margin-left: 60px;
	margin-right: 60px;
	color: rgba(255, 255, 255, 0.75);
}

@media(max-width:500px) {
	.pie-slider .carousel-cell .inner .title {
		font-size: 1rem;
		color: red;
	}
}

.pie-slider .carousel-cell .inner .btn {
	border: 1px solid #fff;
	padding: 14px 18px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 3px;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}


.pie-slider .flickity-page-dots {
	bottom: 30px;
}

.pie-slider .flickity-page-dots .dot {
	width: 30px;
	height: 4px;
	opacity: 1;
	background: rgba(255, 255, 255, 0.5);
	border: 0 solid white;
	border-radius: 0;
}

.pie-slider .flickity-page-dots .dot.is-selected {
	background: #f00;
	border: 0 solid #f00;
}

.sad {
	padding: 2% 0 0 0;
	height: 90vh;
	transition: 1s ease;
	display: block;
	margin: auto;
	margin-bottom: 2%;
}

.sad:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sad img {
	display: block;
	height: 95vh;
	width: auto;
	margin: auto;
}

@media(max-width:500px) {
	.sad {
		height: auto;
	}

	.sad img {
		height: auto;
		width: auto;
	}
}

.bigpie {
	font-size: 10rem;
	color: #000;
	line-height: 10px;

}

@media(max-width:500px) {
	.bigpie {
		font-size: 5rem;
		text-decoration: 10px underline;
	}
}

/*-----Custom fonts-----*/
tbig {
	font-family: Hp Simplified;
	line-height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .05em
}

tpie {
	font-family: Anne;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .05em
}

.bigpietext {
	line-height: 180%;
	font-size: 25px;
	font-weight: 100;
	color: #000;
	margin: 4% auto 5% auto;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

ttext {
	font-family: Champagne;
	font-size: 3rem;
}

ttext b {
	font-family: Champagne;
	font-weight: 1000;
	color: #000;
}

ttext b:nth-child(1) {
	color: #000;
}

ttext b:nth-child(2) {
	color: #000;
}

ttext b:nth-child(3) {
	color: #000;
}

ttext b:nth-child(4) {
	color: #000;
}

ttext b:nth-child(5) {
	color: #000;
}

ttext b:nth-child(6) {
	color: #611320;
}

@media(max-width:500px) {
	ttext {
		font-size: 1.5rem;
		margin-bottom: 10%;
	}
}


.typewritter {
	height: 10vh;
	border: 2px solid red;
	display: block;
	text-align: center;
}
.word {
	font-family: Champagne;
	color: #000;
	font-size: 3rem;
	font-family: Hp Simplified;
	line-height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .05em
}










 .animation {
	 text-align: center;
	 color: #000;
	 display: inline-block;
	 animation: pieFadeIn 1.5s forwards;
	 opacity: 0;
	 transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
 .first {
	 display: inline-block;
	 animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
	 position: relative;
}
 .oh {
	 display: inline-flex;
	 overflow: hidden;
}
 .second {
	 
	 animation: secondSpan 3.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
	 z-index: -1;
	 display: inline-block;
}
 @keyframes pieFadeIn {
	 0% {
		 opacity: 0;
		 transform: scale(1);
	}
	 50% {
		 opacity: 1;
		 transform: scale(1.1);
	}
	 100% {
		 transform: scale(1);
		 opacity: 1;
	}
}
 @keyframes firstSpan {
	 0% {
		 transform: translateX(50%);
	}
	 60% {
		 transform: translateX(50%);
	}
	 100% {
		 transform: translateX(0%);
	}
}
 @keyframes secondSpan {
	 0% {
		 transform: translateX(-100%);
	}
	 60% {
		 transform: translateX(-100%);
	}
	 100% {
		 transform: translateX(0%);
	}
}



