@font-face {
	font-family: "Hp Simplified";
	src: url(../Common/Font/hp-simplified.ttf) format("truetype");
}

@font-face {
	font-family: "Anne";
	src: url("../Common/Font/Penelope%20Anne.ttf") format("truetype");
}

@font-face {
	font-family: "Champagne";
	src: url("../Common/Font/Champagne%20&%20Limousines.ttf") format("truetype");
}

@font-face {
	font-family: "Tommy";
	src: url("Made%2520Tommy/MADE%20TOMMY%20ExtraBold_PERSONAL%20USE.otf") format("truetype");
}

@font-face {
	font-family: "G";
	src: url("fonts/Gilroy-Light.otf") format("truetype");
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	overflow-x: hidden;
}

.dark {
	background-color: #fff;
}

.videoWrapper {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 0;
}



@media(max-width:500px) {
	.videoWrapper {
		padding-top: 5.5%;
	}
}

.videoWrapper video {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.blank-space {
	padding: 2% 0 2% 0;
}

.primary-carousel-container {
	background-color: #000;
	display: block;
	margin: auto;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}

@media(max-width:1000px) {
	.primary-carousel-container {
		margin-top: 0;
		margin-bottom: 10%;
	}

	.overlay {
		margin: auto;
	}
}

@media(max-width:500px) {
	.primary-carousel-container {
		margin-top: 50%;
	}

	.overlay {
		margin: auto;
	}
}

.pie-slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

@media(max-width:1000px) {
	.pie-slider {
		height: 50vh;
	}
}

@media(max-width:500px) {
	.pie-slider {
		height: 50vh;
	}
}

.pie-slider .carousel-cell {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

@media(max-width:500px) {
	.pie-slider .carousel-cell {
		height: 50vh;
	}
}

.pie-slider .carousel-cell .inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	text-align: center;
}

.pie-slider .carousel-cell .inner .subtitle {
	font-family: 'Roboto Slab', serif;
	font-size: 2.2rem;
	line-height: 1.2em;
	font-weight: 200;
	font-style: italic;
	letter-spacing: 3px;
	color: #E6E6FA;
	margin-bottom: 5px;
}

.pie-slider .carousel-cell .inner .title {
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 40px;
	margin-left: 60px;
	margin-right: 60px;
	color: rgba(255, 255, 255, 0.75);
}

@media(max-width:500px) {
	.pie-slider .carousel-cell .inner .title {
		font-size: 1rem;
		color: red;
	}
}

.pie-slider .carousel-cell .inner .btn {
	border: 1px solid #fff;
	padding: 5px 9px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 2px;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	transition: all 1s ease;
}

.pie-slider .carousel-cell .inner .btn:hover {
	background-color: #fff;
	color: #000;
}

.pie-slider .flickity-page-dots {
	bottom: 30px;
}

.pie-slider .flickity-page-dots .dot {
	width: 30px;
	height: 4px;
	opacity: 1;
	background: rgba(255, 255, 255, 0.75);
	border: 0 solid white;
	border-radius: 0;
}

.pie-slider .flickity-page-dots .dot.is-selected {
	background: #f00;
	border: 0 solid #f00;
}

.bigpie {
	font-size: 10rem;
	color: #000;
	line-height: 10px;
	white-space: nowrap;
	text-decoration: 10px underline;
	text-align: center;
	margin: auto;
}



@media(max-width:500px) {
	.bigpie {
		font-size: 5rem;
	}
}

/*-----Custom fonts for bigpie-----*/
tbig {
	font-family: Hp Simplified;
	line-height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .05em
}

tpie {
	font-family: Anne;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .05em
}

.bigpietext {
	line-height: 180%;
	font-size: 25px;
	font-weight: 100;
	color: #000;
	margin: 4% auto 5% auto;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

ttext {
	font-family: Champagne;
	font-size: 3rem;
}

ttext b {
	font-family: Champagne;
	font-weight: 1000;
	color: #000;
}

ttext b:nth-child(1) {
	color: #000;
}

ttext b:nth-child(2) {
	color: #000;
}

ttext b:nth-child(3) {
	color: #000;
}

ttext b:nth-child(4) {
	color: #000;
}

ttext b:nth-child(5) {
	color: #000;
}

ttext b:nth-child(6) {
	color: #611320;
}

@media(max-width:500px) {
	ttext {
		font-size: 1.5rem;
		margin-bottom: 10%;
	}
}

.scary {
	content: "";
	font-size: 1.5rem;
	font-weight: 800;
	display: flex;
	color: #000;
	padding: 5% 5% 5% 5%;
	vertical-align: middle;
	align-items: center;
	height: 100%;
	text-align: center;
	letter-spacing: 0.1em;
	line-height: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .05em;
	background-color: rgba(0, 0, 0, 0.05);
}

@media(max-width:500px) {
	.scary {
		color: #000;
		display: block;
		padding: 5.5% 2% 0 2%;
		padding: 6% 0 12% 0;
		font-size: 0.75rem;
		border: 15px solid red;
		text-align: center;
		margin-bottom: 0;
		padding-bottom: 0;
		margin-left: 0px;
		border: none;
	}
}

.atlas {
	display: block;
	width: 90%;
	float: right;
	margin: auto;
}

.pill {
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	color: rgba(0, 0, 0, 1);
}

.sol2 {
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
}

.sol3 {
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	margin: 2% auto 5% auto;
}

.pieLine {
	display: block;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	width: 76%;
	height: 12px;
	margin: 1% auto 2% auto;
	margin: auto;
	border-radius: 10px;
}


.circle2 {
	float: left;
	height: 200px;
	width: 200px;
	shape-outside: circle();
	clip-path: circle();
	background: linear-gradient(to top right, #FDB171, #FD987D);
}

.left {
	float: left;
	shape-outside: polygon(0 0, 0 300px, 200px 300px);
	clip-path: polygon(0 0, 0 300px, 200px 300px);
	background: linear-gradient(to top right, #67D7F5, #86F7CC);
	height: 300px;
	width: 300px;
}

.right {
	float: right;
	shape-outside: polygon(200px 300px, 300px 300px, 300px 0, 0 0);
	clip-path: polygon(200px 300px, 300px 300px, 300px 0, 0 0);
	background: linear-gradient(to bottom left, #67D7F5, #86F7CC);
	height: 300px;
	width: 300px;
}

.wikiextra {
	margin: 5% auto 5% auto;
	margin: auto;
}

.extra {
	padding: 1%;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
	transition: all 0.5s ease;
	cursor: default;
}

.extra:hover {
	-webkit-box-shadow: 0px 10px 23px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 10px 23px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 10px 23px 1px rgba(0, 0, 0, 0.4);
}

.extra:nth-child(1) {
	border-left: 2px solid #04e762;
	border-bottom: 2px solid #04e762;
	background-color: rgba(4, 231, 98, 0.1);
}

.extra:nth-child(2) {
	border-right: 5px solid #f5b700;
	border-right: 2px solid #04e762;
	border-bottom: 2px solid #04e762;
	background-color: rgba(0, 161, 228, 0.1);
}

.extra:nth-child(2) .anomaly {
	margin-top: 10%;
}

.extra:nth-child(3) {
	border-left: 5px solid #f0544f;
	border-left: 2px solid #04e762;
	border-bottom: 2px solid #04e762;

	background-color: rgba(171, 235, 210, 0.5);
}

.extra:nth-child(4) {
	border-right: 2px solid #04e762;
	background-color: rgba(245, 183, 0, 0.1);
}

.wikiextra h1 {
	margin: 10px auto 4% auto;
	text-align: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
}


.wikiextra p {
	margin: 0 auto 2% auto;
	text-align: justify;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-weight: 300;
	color: #000;
	font-size: 19.8px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;

}






.diamond,
.dia {
	margin: 0 auto;
	transform-origin: 50% 50%;
	overflow: hidden;
	width: 300px;
	height: 300px;
}

.diamond {
	transform: rotate(45deg) translateY(-25px) translateX(-25px);
}

.diamond .dia {
	width: 380px;
	height: 380px;
	transform: rotate(-45deg);
}

.diamond img {
	width: 100%;
	height: auto;
}


/* 
 * ==== octogone
 */
.octo,
.octo div {
	margin: 0 auto;
	transform-origin: 50% 50%;
	overflow: hidden;
	width: 300px;
	height: 300px;
}

.octo,
.octo div {
	width: 270px;
	height: 270px;
}

.octo {
	transform: rotate(45deg);
}

.octo1 {
	transform: rotate(-45deg);
}



/*
 * ==== hexagon
 */
.hexa,
.hexa div {
	margin: 0 auto;
	transform-origin: 50% 50%;
	overflow: hidden;
	width: 300px;
	height: 300px;
}

.hexa {
	width: 325px;
	height: 230px;
}

.hexa div {
	width: 100%;
	height: 100%;
}

.hexa {
	transform: rotate(120deg);
}

.hex1 {
	transform: rotate(-60deg);
}

.hex2 {
	transform: rotate(-60deg);
}

/*
 * ==== dodecagon
 */
.dodeca,
.dodeca div {
	margin: 0 auto;
	transform-origin: 50% 50%;
	overflow: hidden;
	width: 300px;
	height: 300px;
}

.dodeca {
	transform: rotate(120deg);
}

.dode1 {
	transform: rotate(-60deg);
}

.dode2 {
	transform: rotate(-60deg);
}

/* irregular dodecagon */
.irr,
.irr div {
	width: 320px;
}















.by {
	margin-top: 0;
	opacity: .5;
	transition: opacity .4s;
}

.by:hover,
.by a:focus {
	opacity: 1;
}

.by,
.photos {
	font-size: .8em;
}

.part {
	padding: 50px 20px 85px;
	background: #205B73;
	color: #AFE4FC;
}

.part:nth-of-type(2n) {
	background: #F2E6A7;
	color: #CDAE51
}

.dev {
	display: block;
	margin: 1.5em auto;
	max-width: 200px;
	padding: 15px 25px;
	border: 2px solid #FFF;
	background: transparent;
	color: #FFF;
	font-size: .9em;
	font-weight: bold;
	cursor: pointer;
	transition: all .4s
}

.dev:hover,
.dev:focus {
	background: rgba(0, 0, 0, .2);
}

.hexa img {
	position: relative;
	top: -25px;
	left: 20px;
}

.octo div img {
	position: relative;
	left: -5px;
	top: -5px;
}

.diamond img {
	position: relative;
	width: 105%;
	left: -7px;
	top: -5px;
}


.child {
	margin: auto;
	padding: 10% 5% 10% 5%;
}

.One {
	background-color: #ccff66;
}

.One .child {
	margin: auto;
}

.Two {
	background-color: #66aabb;
}

.Two .child {
	margin: auto;
}

.Three {
	background-color: #b8dbdb;
}

.Three .child {
	margin: auto;
}

.Four {
	background-color: rgba(255, 255, 3, 0.5);
}

.Four .child {
	margin: auto;
}

.alpha .row img {
	margin: 20% auto 20% auto;
}

.alpha p {
	font-family: Merriweather, serif;
	font-size: 17.6px;
	font-weight: 400;
	line-height: 30.8px;
	color: rgb(61, 61, 61);
	margin: auto;
	margin: 5% auto 5% auto;
}

.button-label {
	height: 100%;
	width: 5px;
	background: #f4a261;
	z-index: 2;
}

.button-text {
	font-size: 1.2em;
	color: #6f6f6ff2;
}

/*ButtonA*/
.buttonA {
	font-family: "Poppins", sans-serif;
	width: 200px;
	height: 45px;
	padding: 0;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 14px -7px rgba(0, 0, 0, 0.2);
	position: relative;
}


.buttonA::before {
	width: 50px;
	transition: width 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonA::before {
	content: "";
	width: 5px;
	height: 100%;


	background: #4cc9f0;
	position: absolute;
	top: 0;
	left: 0;
}

.buttonA:hover::before {
	width: 100%;
	content: "Design";
	color: #000;
	background: #ccff66;
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
}


/*ButtonB*/
.buttonB {
	font-family: "Poppins", sans-serif;
	width: 200px;
	height: 45px;
	padding: 0;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 14px -7px rgba(0, 0, 0, 0.2);
	position: relative;
}


.buttonB::before {
	width: 50px;
	transition: width 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonB::before {
	content: "";
	width: 5px;
	height: 100%;

	background: #ffe625;
	position: absolute;
	top: 0;
	left: 0;
}

.buttonB:hover::before {
	width: 100%;
	content: "HP";
	color: #000;
	background: #4cc9f0;
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
}


/*ButtonC*/
.buttonC {
	font-family: "Poppins", sans-serif;
	width: 200px;
	height: 45px;
	padding: 0;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 14px -7px rgba(0, 0, 0, 0.2);
	position: relative;
}


.buttonC::before {
	width: 50px;
	transition: width 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonC::before {
	content: "";
	width: 5px;
	height: 100%;
	background: #4cc9f0;
	background-color: #373737;

	position: absolute;
	top: 0;
	left: 0;
}

.buttonC:hover::before {
	width: 100%;
	content: "IMPLEMENTATION";
	color: #000;
	background-color: #b8dbdb;
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
}

/*ButtonD*/

.buttonD {
	font-family: "Poppins", sans-serif;
	width: 200px;
	height: 45px;
	padding: 0;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 14px -7px rgba(0, 0, 0, 0.2);
	position: relative;
}


.buttonD::before {
	width: 50px;
	transition: width 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonD::before {
	content: "";
	width: 5px;
	height: 100%;

	background: #373737;
	position: absolute;
	top: 0;
	left: 0;
}

.buttonD:hover::before {
	width: 100%;
	content: "Safety";
	color: #000;
	background: rgba(255, 250, 3, 1);
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
}




/*Scroll Down*/

#scrollIndicator {
	position: absolute;
	left: 50%;
	margin-left: -15px;
	bottom: 20%;
	margin-top: 0;
}

@media(max-width:500px){
	#scrollIndicator {
	display: none;
	}

}

#scrollIndicator i {
	width: 30px;
	height: 30px;
	display: block;
	background: url('arrow.png') no-repeat center center #ff3466;
	background-size: 20px;
	border-radius: 100%;
	position: absolute;
	z-index: 100;
	left: 10px;
	top: 10px;
	animation-delay: 15s;
}

#scrollIndicator:before,
#scrollIndicator:after {
	content: "";
	top: 0;
	left: 0;
	background-color: #ff3466;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute;
	opacity: 0;
	
}

#scrollIndicator:before {
	-webkit-animation: jumper 1.8s 0.33333s ease-out infinite;
}

#scrollIndicator:after {
	-webkit-animation: jumper 1.8s 0.66666s ease-out infinite;
}

@-webkit-keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	5% {
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes jumper {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	5% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}


