html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-color: #ffffff;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

/****/
/****/
/****/
/**ADD TO NAVBAR MAINS**/
.dropdown-menu{
	backdrop-filter: blur(3px);
}
/**ADD TO NAVBAR MAINS**/
/****/
/****/
/****/
/****/
/****/

/*Loader*/
.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #2b2828;
	position: fixed;
	top: 0;
	left: 0;
	background-size: cover;
	z-index: 9999;
}

.loader video {
	height: 60%;
	width: 60%;
}

@media(max-width:500px) {
	.loader video {
		height: 100%;
		width: 100%;
	}

}

.loader.hidden {
	animation: fadeout 1.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeout {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(parts.png);
	background-position: bottom;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}


.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 3.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}

/**/
/**/
/**/
/**/
/**/
/**/

thead {
	text-align: center;
}

tbody {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-weight: 300;
	color: #000;
	font-size: 19.8px;

	text-align: center;
}

@media(max-width:990px) {
	tbody {
		line-height: 22px;
		font-size: 16px;
		color: #000;
	}
}

tbody .para {
	text-align: justify;
}



.efed-1 {
	width: 5%;
}

.efed-2 {
	width: 15%;
}

.efed-3 {
	width: 15%;
}

.efed-4 {
	width: 55%;
}


.efed-5 {
	width: 10%;
}

h2 {
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

h4 {
	text-transform: none;
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

p {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-weight: 300;
	color: #000;
	font-size: 19.8px;
}

@media (max-width: 990px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 20px;
	}

	h4 {
		font-size: 17px;
	}

	p {
		line-height: 22px;
		font-size: 16px;
		color: #000;
	}


}

sup {
	font-size: 0.75rem;
}

@media(max-width:500px) {
	sup {
		font-size: 0.5rem;
	}
}





a {
	position: relative;
	display: inline-block;
	outline: none;
	color: inherit;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
	color: inherit;
}

/* Effect 1: Brackets */
/* Effect 3: bottom line slides/fades in */
.cl-effect-3 a {
	padding: 8px 0;
	cursor: pointer;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Effect 14: border switch */
.cl-effect-14 a {
	padding: 0 20px;
	cursor: pointer;
	height: 45px;
	line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #000;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
	opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}




.imgs {
	display: block;
	margin: auto;
	text-align: center;
}

.imgs img {
	display: block;
	margin: auto;
}







/*FOOTER*/

footer {
	background: #16222A;
	background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
	background: linear-gradient(59deg, #3A6073, #16222A);
	color: white;
	margin-top: 100px;
}


.foot p, h4{
	color: #fff;
}

.foot p{
	padding-right: 25px;
	text-align: start;
}


footer a {
	color: #fff;
	font-size: 14px;
	transition-duration: 0.2s;
}

footer a:hover {
	color: #FA944B;
	text-decoration: none;
}

.copy {
	font-size: 12px;
	padding: 10px;
	border-top: 1px solid #FFFFFF;
}

.footer-middle {
	padding-top: 2em;
	color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}

.social-network a.icoInstagram:hover {
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}


.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}
.social-network a.icoGmail:hover {
	background-color: #B23121;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoGmail:hover i,
.social-network a.icoLinkedin:hover i {
	color: #fff;
	transition: 0.8s all;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
	color: #44BCDD;
}

.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 100%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 32px;
}

.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i {
	color: #595959;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-network a {
	background-color: #F9F9F9;
}
