/*
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*/

/*
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*/

/*
body {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 6rem;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
}
*/
/*
@media (max-width: 60em) {
  body {
    padding: 3rem;
  }
}
*/

.grid {
	justify-content: center;
	align-content: center;
	padding: 3rem 6rem 6rem 6rem;
	display: grid;
	width: 95rem;
	grid-gap: 3rem;
	grid-template-columns: repeat(4, 1fr);
	align-items: start;
}

.grid-mod1 {
	grid-template-columns: repeat(3, 1fr);
}

.grid-mod6 {
	grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 60em) {
	.grid {
		grid-gap: 3rem;
		padding: 3rem;
	}
}

.grid__item {
	background-color: #fff;
	border-radius: .4rem;
	overflow: hidden;
	box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: 0.2s;
	/*    max-height: auto;*/
}

.grid__item:hover {
	transform: translateY(-0.5%);
	box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.grid4 img {
	width: 70%;
}

.grid5 img {
	width: 70%;
}

.card__img {
	display: block;
	width: 250px;
	margin: 6% auto;
}

.card__content {
	padding: 0 1rem 1rem 1rem;
}

.card__header {
	/*    font-variant: small-caps;*/
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #0d0d0d;
	margin-bottom: .8rem;
}

.card__header.mod12 {
	margin-top: -40px;
	margin-bottom: 20px;
}

.card__header.mod15 {
	margin-bottom: 10px;
}

.card__header.mod33 {
	margin-bottom: 20px;
}

.card__header.mod34 {
	margin-bottom: 20px;
}

.card__text {
	font-size: 18px;
	color: #3d3d3d;
	line-height: 1.4rem;
	margin-bottom: 1rem;
}

.card__btn {
	display: block;
	width: 60%;
	margin: 0 auto;
	padding: .5rem;
	font-size: 1rem;
	text-align: center;
	color: #3363ff;
	background-color: #e6ecff;
	border: none;
	border-radius: .4rem;
	transition: 0.2s;
	cursor: pointer;
}

.card__btn span {
	margin-left: 1rem;
	transition: 0.2s;
}

.card__btn:hover,
.card__btn:active {
	background-color: #dce4ff;
}

.card__btn:hover span,
.card__btn:active span {
	margin-left: 1.5rem;
}

.modal-body {
	padding: 5%;
}
