html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-color: #ffffff;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	overflow-x: hidden;
}

.container {
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	margin: 0 auto;
}

@media(max-width:500px) {
	.container {
		padding: 0 2% 2% 0;
		width: 100%;
	}
}

/*Loader*/
.plasmid-loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #2b2828;
	position: fixed;
	top: 0;
	left: 0;
	background-size: cover;
	z-index: 9999;
}

.plasmid-loader video {
	height: 60%;
	width: 60%;
}

@media(max-width:500px) {
	.plasmid-loader video {
		height: 100%;
		width: 100%;
	}
}

.plasmid-loader.hidden {
	animation: pieout 1.5s;
	animation-fill-mode: forwards;
}

@keyframes pieout {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.videoWrapper {
	position: relative;
	width: 100vw;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 0;
}

.videoWrapper video {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.scary {
	content: ="";
	font-size: 1.75rem;
	font-weight: 600;
	display: flex;
	color: #fff;
	padding: 0 5% 0 5%;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;

	border: 40px solid transparent;
	/*border-image-source: url('data:image/svg+xml,%3csvg%20xmlns="http://www.w3.org/2000/svg"%20viewBox="0%200%2060%2060"%20width="120"%20height="120"%3e%3cpath%20d="m%200%2010a10%2010%200%200%200%2010-10h40a10%2010%200%200%200%2010%2010v40a10%2010%200%200%200-10%2010h-40a10%2010%200%200%200-10-10z"%20fill="%23fcc"%20fill-opacity=".6"/%3e%3cpath%20d="m5%2015a15%2015%200%200%200%2010-10h30a15%2015%200%200%200%2010%2010v30a15%2015%200%200%200-10%2010h-30a15%2015%200%200%200-10-10z"%20fill="none"%20stroke="%23fff"/%3e%3c/svg%3e');
	*/
	border-image-source: url("gloomy_2.jpg");
	border-image-slice: 40 fill;
	border-image-width: 40px;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.scary video {
	width: 55vw;
	height: auto;
	border-radius: 1000px;
	margin-left: 10px;
}

@media(max-width:500px) {
	.scary {
		color: #000;
		padding: 0 2% 0 2%;
		font-size: 0.75rem;
		text-align: center;
		margin-bottom: 0;
		padding-bottom: 0;
		margin-left: 0px;
		border: none;
	}

	.scary video {
		width: 50vw;
	}
}


/*Counter*/

.patient_counter {
	padding-top: 10px;
	margin-top: 10px;
	color: #000;
	display: block;
	white-space: nowrap;
	border-bottom: 5px solid red;
	border-radius: 10px;
	padding: 10px;
	font-size: 3rem;
	text-align: center;
	-webkit-animation: colorchange 20s infinite alternate;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media(max-width:500px) {
	.patient_counter {
		font-size: 1.05rem;
	}
}

@media(max-width:400px) {
	.patient_counter {
		font-size: 0.75rem;
	}
}


@-webkit-keyframes colorchange {
	0% {

		color: blue;
	}

	10% {

		color: #8e44ad;
	}

	20% {

		color: #1abc9c;
	}

	30% {

		color: #d35400;
	}

	40% {

		color: blue;
	}

	50% {

		color: #34495e;
	}

	60% {

		color: blue;
	}

	70% {

		color: #2980b9;
	}

	80% {

		color: #f1c40f;
	}

	90% {

		color: #2980b9;
	}

	100% {

		color: pink;
	}
}




@media(max-width:500px) {
	.insulin-production-img h1 {
		margin-top: 10%;
		padding-bottom: 0;
		margin-bottom: 0;
		padding-top: 10%;
		font-size: 1rem;

	}
}



.primary-carousel-container {
	background-color: #000;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}

@media(max-width:500px) {
	.overlay {
		margin: auto;
	}
}

.pie-slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.pie-slider .carousel-cell {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.pie-slider .carousel-cell .inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	text-align: center;
}

.pie-slider .carousel-cell .inner .subtitle {
	font-family: 'Roboto Slab', serif;
	font-size: 2.2rem;
	line-height: 1.2em;
	font-weight: 200;
	font-style: italic;
	letter-spacing: 3px;
	color: #E6E6FA;
	margin-bottom: 5px;
}

.pie-slider .carousel-cell .inner .title {
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 40px;
	margin-left: 60px;
	margin-right: 60px;
	color: rgba(255, 255, 255, 0.5);
}

@media(max-width:500px) {
	.pie-slider .carousel-cell .inner .title {
		font-size: 1rem;
		color: red;
	}
}

.pie-slider .carousel-cell .inner .btn {
	border: 1px solid #fff;
	padding: 14px 18px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 3px;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.pie-slider .carousel-cell .inner .btn:hover {
	background: #fff;
	color: #000;
}

.pie-slider .flickity-prev-next-button {
	width: 80px;
	height: 80px;
	background: transparent;
}

.pie-slider .flickity-prev-next-button:hover {
	background: transparent;
}

.pie-slider .flickity-prev-next-button .arrow {
	fill: white;
}

.pie-slider .flickity-page-dots {
	bottom: 30px;
}

.pie-slider .flickity-page-dots .dot {
	width: 30px;
	height: 4px;
	opacity: 1;
	background: rgba(255, 255, 255, 0.5);
	border: 0 solid white;
	border-radius: 0;
}

.pie-slider .flickity-page-dots .dot.is-selected {
	background: #f00;
	border: 0 solid #f00;
}

.sad {
	height: 95vh;
	transition: 1s ease;
}

.sad:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sad img {
	display: block;
	height: 95vh;
	width: auto;
	margin: auto;
}

@media(max-width:500px) {
	.sad {
		height: auto;
	}

	.sad img {
		height: auto;
		width: auto;
	}
}

.pulse1 {
	text-align: center;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	box-shadow: 0 0 0 0 rgba(1, 255, 77, 0.7);
	width: 12vw;
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
}

.pulse h1 {
	padding: 0;
}

@media(max-width:500px) {
	.pulse1 {
		width: auto;
	}
}

.pulse1:hover,
.pulse1:focus {
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

}

@-webkit-keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}

@-moz-keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}

@-ms-keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}

@keyframes pulse {
	to {
		box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
	}
}


h1 {
	text-transform: uppercase;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.55rem;
	font-weight: 400;
	letter-spacing: 1.4px;
	padding: 10px 0;
	margin-bottom: 16px;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
	text-align: justify;
	color: #000;
}

.p-linklist {
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
	text-align: justify;
	color: #000;
}

@media (max-width: 990px) {
	h1 {
		font-size: 28px;
	}

	p {
		font-size: 16px;
		color: #000;
	}

	.p-linklist {
		font-size: 16px;
		color: #000;
	}

}


sup {
	font-size: 0.75rem;
}

@media(max-width:500px) {
	sup {
		font-size: 0.5rem;
	}
}


.centred-child {
	text-align: center;
}

.img {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 32%;
	margin: 0 1% 1% 0;
	text-align: center;
}

@media(max-width:600px) {
	.img {
		width: 100%;
	}
}

.img img {
	max-width: 100%;
}

.desc {
	width: 100%;
	margin: auto;
}

.desc img {
	width: 70%;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-radius: 50px;
	box-shadow: 0 5px 7px -5px;
}

@media(max-width:500px) {
	.desc img {
		border-radius: 25px;
		width: 100%;
	}
}

.line-1 {
	position: relative;
	top: 50%;
	width: 24em;
	margin: 0 auto;
	border-right: 2px solid rgba(255, 255, 255, .75);
	font-size: 180%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: transparent;
}
