*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
}

body {
	overflow-x: hidden;
}

#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(contributions.png);
	background-position: top left;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}






.wrapper {
	margin: 0 auto 100px auto;
	max-width: 960px;
}

.stage {
	list-style: none;
	padding: 0;
}

/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
	width: 260px;
	height: 400px;
	margin: 30px;
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.movie {
	width: 260px;
	height: 400px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.movie:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-81deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster,
.movie .info {
	position: absolute;
	width: 260px;
	height: 400px;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.movie .poster {
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
	transform: translateZ(130px);
	background-size: cover;
	background-repeat: no-repeat;
}

.movie .info {
	-webkit-transform: rotateY(90deg) translateZ(130px);
	-moz-transform: rotateY(90deg) translateZ(130px);
	transform: rotateY(90deg) translateZ(130px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
	content: '';
	width: 260px;
	height: 260px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
	box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}

/*************************************
Movie information
**************************************/

.info header {
	color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 195px;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
	color: #fff;
	text-align: center;
}

.info header .rating {
	border: 1px solid #FFF;
	padding: 0px 3px;
}

.info p {
	padding: 1.2em 1.4em;
	margin: 2px 0 0;
	font-weight: 700;
	color: #000;
	line-height: 1.4em;
	border-top: 10px solid #555;
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
}

.csstransforms3d .movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8);
}

.csstransforms3d .movie .info,
.csstransforms3d .movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
}

.csstransforms3d .movie:hover .info,
.csstransforms3d .movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
}

/*************************************
Posters and still images
**************************************/

.scene:nth-child(1) .movie .poster {
	background-image: url(MCU/thor.jpg);
}

.scene:nth-child(2) .poster {
	background-image: url(MCU/black_widow.jpg);
}

.scene:nth-child(3) .poster {
	background-image: url(MCU/ironman.jpg);
}

.scene:nth-child(1) .info header {
	background-image: url(contributions.png);
}

.scene:nth-child(2) .info header {
	background-image: url(contributions.png);
}

.scene:nth-child(3) .info header {
	background-image: url(contributions.png);
}

/*************************************
Fallback
**************************************/
.no-csstransforms3d .movie .poster,
.no-csstransforms3d .movie .info {
	position: relative;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 60.75em) {
	.scene {
		float: none;
		margin: 30px auto 60px;
	}
}






/*------------------Modal box---------------*/
.wrap {
	padding: 15px;
}

h1 {
	font-size: 28px;
}

h4,
modal-title {
	font-size: 18px;
	font-weight: bold;
}

.no-borders {
	border: 0px;
}

.body-message {
	font-size: 18px;
}

.centered {
	text-align: center;
}

.btn-primary {
	background-color: #2086c1;
	border-color: transparent;
	outline: none;
	border-radius: 8px;
	font-size: 15px;
	padding: 10px 25px;
}

.btn-primary:hover {
	background-color: #2086c1;
	border-color: transparent;
}

.btn-primary:focus {
	outline: none;
}

.cards {
	padding-bottom: 10%;
	margin-bottom: 10%;
}

/*----------Tabs---------------*/


.grid {
	list-style: none;
	margin-left: -40px;
}

.gc {
	box-sizing: border-box;
	display: inline-block;
	margin-right: -0.25em;
	min-height: 1px;
	padding-left: 40px;
	vertical-align: top;
}

.gc--1-of-3 {
	width: 33.33333%;
}

.gc--2-of-3 {
	width: 66.66666%;
}

.naccs {
	position: relative;
	max-width: 900px;
	margin: 100px auto 0;
}

.naccs .menu div {
	padding: 15px 20px 15px 40px;
	margin-bottom: 10px;
	color: #303f9f;
	color: #000;
	background: #3f51b5;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	font-weight: 700;
	transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
	height: 10px;
	width: 10px;
	position: absolute;
	top: 24px;
	left: 15px;
	background-color: #303f9f;
	border-radius: 100%;
	transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
	background-color: #fbc02d;
	left: 0;
	height: 100%;
	width: 3px;
	top: 0;
	border-radius: 0;
}

.naccs .menu div.active {
	color: #fbc02d;
	padding: 15px 20px 15px 20px;
}

ul.nacc {
	position: relative;
	height: 0px;
	list-style: none;
	margin: 0;
	padding: 0;
	transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
	opacity: 0;
	transform: translateX(50px);
	position: absolute;
	list-style: none;
	transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
	transition-delay: 0.3s;
	z-index: 2;
	opacity: 1;
	transform: translateX(0px);
}

ul.nacc li p {
	margin: 0;
	padding: 1%;
	-webkit-box-shadow: 4px 3px 16px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 4px 3px 16px 0px rgba(0,0,0,0.5);
box-shadow: 4px 3px 16px 0px rgba(0,0,0,0.5);
}


/*-------------------------TabsII---------------------*/
/*Vertical Tabs*/
.mdl-tabs__panel {
	display: none;
}

.vertical-mdl-tabs {
	margin-top: 30px;
}

.vertical-mdl-tabs .mdl-tabs__tab-bar {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-bottom: 35px;
	height: inherit;
	border-bottom: none;
	border-right: 1px solid rgba(10, 11, 49, 0.20);
}

.vertical-mdl-tabs .mdl-tabs__tab {
	width: 100%;
	height: 35px;
	line-height: 35px;
	box-sizing: border-box;
	letter-spacing: 2px;
}

.vertical-mdl-tabs .mdl-tabs__tab:hover {
	background: rgba(158, 158, 158, 0.34);
	color: black;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
	border-right: 3px solid #ED462F;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
	content: inherit;
	height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active,
.mdl-tabs__panel {
	padding: 0 30px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
	text-align: left;
}

.text-center {
	text-align: center;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
	color: #E21549;
}
