*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'Merriweather Sans', sans-serif;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	position: relative;
}

body {
	overflow-x: hidden;
}

#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(team.png);
	background-position: top left;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}

.mainstyle {}


.wrapper {
	margin: 0 auto 100px auto;
	max-width: 960px;
}

.stage {
	list-style: none;
	padding: 0;
}

/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
	width: 260px;
	height: 400px;
	height: 400px;
	margin: 30px;
	margin-bottom: 15%;
	float: left;
	
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}
@media(max-width:500px){
	.scene{
		display: inline-block;
		margin: auto;
		padding-left: 15%;
		text-align: center;
	}
}

.movie {
	width: 260px;
	height: 400px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.movie:hover {
	-webkit-transform: rotateY(-90deg) translateZ(5px);
	-moz-transform: rotateY(-90deg) translateZ(5px);
	transform: rotateY(-90deg) translateZ(5px);
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster,
.movie .info {
	position: absolute;
	width: 260px;
	height: 400px;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.movie .poster {
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
	transform: translateZ(130px);
	background-size: cover;
	background-repeat: no-repeat;
}

.movie .info {
	-webkit-transform: rotateY(90deg) translateZ(130px);
	-moz-transform: rotateY(90deg) translateZ(130px);
	transform: rotateY(90deg) translateZ(130px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
	content: '';
	width: 260px;
	height: 260px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
	box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}

/*************************************
Movie information
**************************************/

.info header {
	color: #FFF;
	font-weight: bold;
	height: 195px;
	height: 85%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
	margin: auto;
}

.info header h1 {
	color: #fff;
	text-align: center;
}

.info header .rating {
	border: 1px solid #FFF;
	padding: 0px 3px;
}

.info p {
	padding: 1.2em 1.4em;
	margin: 2px 0 0;
	font-weight: 700;
	color: #000;
	line-height: 1.4em;
	border-top: 10px solid #555;
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
}

.csstransforms3d .movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8);
}

.csstransforms3d .movie .info,
.csstransforms3d .movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
}

.csstransforms3d .movie:hover .info,
.csstransforms3d .movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
}

/*************************************
Posters and still images
**************************************/


.scene .movie .poster {
	background-position: center;
	background-size: contain;
	background-color: aquamarine;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.scene:nth-child(1) .movie .poster {
	background-image: url(Team/Archit_mask.png), linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);

}

.scene:nth-child(2) .poster {
	background-image: url(Team/Hari_mask.png), linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

.scene:nth-child(3) .poster {
	background-image: url(Team/Hitaishi_mask.png);
}

.scene:nth-child(4) .poster {
	background-image: url(Team/Kedar_mask.png);
}

.scene:nth-child(5) .poster {
	background-image: url(Team/Prerita_mask.png);
}

.scene:nth-child(6) .poster {
	background-image: url(Team/Priya_mask.png);
}

.scene:nth-child(7) .poster {
	background-image: url(Team/Raibat_mask.png);
}

.scene:nth-child(8) .poster {
	background-image: url(Team/Rishana_mask.png);
}

.scene:nth-child(9) .poster {
	background-image: url(Team/Rita_mask.png);
}

.scene:nth-child(10) .poster {
	background-image: url(Team/Rohan_mask.png);
}

.scene:nth-child(11) .poster {
	background-image: url(Team/Ruchir_mask.png);
}

.scene:nth-child(12) .poster {
	background-image: url(Team/Sebin_mask.png);
}

.scene:nth-child(13) .poster {
	background-image: url(Team/Shashaank_mask.png);
}


/*---------Full image-------*/

.scene .info header {
	background-size: cover;
	background-position: center;
	background-origin: border-box;
}

.scene:nth-child(1) .info header {
	background-image: url(Team_no_mask/Archit.jpg);

}

.scene:nth-child(2) .info header {
	background-image: url(Team_no_mask/Hari.JPG);
}

.scene:nth-child(3) .info header {
	background-image: url(Team_no_mask/Hitaishi.png);
}

.scene:nth-child(4) .info header {
	background-image: url(Team_no_mask/Kedar-2.jpg);
}

.scene:nth-child(5) .info header {
	background-image: url(Team_no_mask/Prerita.JPG);
}

.scene:nth-child(6) .info header {
	background-image: url(Team_no_mask/Priya.jpg);
}

.scene:nth-child(7) .info header {
	background-image: url(Team_no_mask/Raibat-1.JPG);
}

.scene:nth-child(8) .info header {
	background-image: url(Team_no_mask/Rishana.jpg);
}

.scene:nth-child(9) .info header {
	background-image: url(Team_no_mask/Rita.jpg);
}

.scene:nth-child(10) .info header {
	/*------------------------------------*/
	background-image: url(Team_no_mask/Rohan);
}

.scene:nth-child(11) .info header {
	background-image: url(Team_no_mask/Ruchir.jpeg);
	background-position: top;
}

.scene:nth-child(12) .info header {
	background-image: url(Team_no_mask/Sebin.jpg);
}

.scene:nth-child(13) .info header {
	background-image: url(Team_no_mask/Shashaank.jpg);
}

/*************************************
Fallback
**************************************/
.no-csstransforms3d .movie .poster,
.no-csstransforms3d .movie .info {
	position: relative;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 60.75em) {
	.scene {
		float: none;
		margin: 30px auto 60px;
	}
}






/*------------------Modal box---------------*/
.wrap {
	padding: 15px;
}

h1 {
	font-size: 28px;
}

h4,
modal-title {
	font-size: 18px;
	font-weight: bold;
}

.no-borders {
	border: 0px;
}

.body-message {
	font-size: 18px;
}

.centered {
	text-align: center;
}

.btn-primary {
	background-color: #2086c1;
	border-color: transparent;
	outline: none;
	border-radius: 8px;
	font-size: 15px;
	padding: 10px 25px;
}

.btn-primary:hover {
	background-color: #2086c1;
	border-color: transparent;
}

.btn-primary:focus {
	outline: none;
}

.cards {
	padding-bottom: 10%;
	margin-bottom: 10%;
}

/*----------Tabs---------------*/

/*---Tabs end here---*/
/*---Tabs end here---*/
/*---Tabs end here---*/





.nameMem {
	font-size: 1rem;
	text-align: center;
	margin: 0;
	text-transform: none;
	letter-spacing: 1px;
	color: #000;
	background: -webkit-linear-gradient(left, #f57170, #10ddc2, #f57170);
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
	background-size: 1600px 200px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-duration: 3s;
	animation-name: animationgradienttitle;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	margin: 1%;
}

.memdetails {
	color: #000;
	margin: 0;
	text-align: center;
}


@keyframes animationgradienttitle {
	0% {
		background-position: 0 1600px;
	}

	100% {
		background-position: 1600px 0;
	}
}







.li {
	color: #000;
	font-size: 0.5rem;
}


.btn {
	padding: 5px;
	margin-top: 1%;
}

.primarynames {
	margin: auto;
	margin-top: 0;
}

.primarynames h1 {
	margin: auto;
	margin-top: 0;
	font-size: 1.5rem;
	margin-bottom: 10px;
	border-bottom: 1px solid red;
	text-transform: none;
	letter-spacing: 1px;
}

.primarynames h3 {
	font-size: 1rem;
	text-transform: none;
}

.primarynames p {
	font-size: 0.75rem;
	margin: 0;
	letter-spacing: 0;
	line-height: 18px;
	font-style: italic;
	text-transform: none;
}

@media(max-width:600px) {
	.poster{
		margin-bottom: 10%;
		
	}
	.scene{
		background-size: contain;
	}
	.primarynames h1 {}

	.primarynames h3 {}

	.primarynames h3 {}

	.primarynames p {
	}

}


.role {
	margin: auto;
	margin: 0;
}

.modal-title h5 {
	margin: auto;
	text-align: center;
}

.modal-body {
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

}

.modal img {
	width: 50%;
}

.modal-backdrop {
	background-color: #336699;
}

.modal h2 {
	font-size: 1.5rem;
}

.modal ul {
	text-align: left;
}

.close {
	opacity: 0.5;
	transition: all 0.2s ease;
}

.close:hover {
	color: aqua;
}



.social-block {
	display: block;
	margin: auto;
	text-align: center;
}



/*social icons*/
social-ico {
	width: 50%;
	display: block;
	text-align: center;
	margin: auto;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all {
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/* Social Icons */

.social-ic {
	display: block;
	height: 10rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.social-ic li a {
	display: block;
	float: left;
	text-align: center;
	width: 40px;
	height: 40px;
	margin-right: 1rem;
	text-align: center;
	padding-top: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;

	/*background-color: #222;*/
	-webkit-box-shadow: inset 0 0 0 40px #222;
	-moz-box-shadow: inset 0 0 0 40px #222;
	-o-box-shadow: inset 0 0 0 40px #222;
	-ms-box-shadow: inset 0 0 0 40px #222;
	box-shadow: inset 0 0 0 40px #222;

	color: #fff;

}

.social-ic li a:hover {
	-webkit-box-shadow: inset 0 0 0 3px #222;
	-moz-box-shadow: inset 0 0 0 3px #222;
	-o-box-shadow: inset 0 0 0 3px #222;
	-ms-box-shadow: inset 0 0 0 3px #222;
	box-shadow: inset 0 0 0 3px #222;

	color: #222;
}




.btn:hover,
.btn-primary,
.btn-primary:hover,
.btn-info,
.btn-info:hover,
.btn-success,
.btn-success:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-inverse,
.btn-inverse:hover,
.btn-primaryColor,
.btn-primaryColor:hover,
.btn-secondaryColor,
.btn-secondaryColor:hover,
.btn-tertiaryColor,
.btn-tertiaryColor:hover {
	color: #fff;
}

.btn {
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	margin: 0;
	border: none;
	background: #fff;
	position: relative;
	display: inline-block;
	transition: all 0.25s ease;
}

.btn:hover {
	background: #0a8cfd;
	text-decoration: none;
}

.btn:focus {
	outline: none;
}

.btn-primary {
	background: #005888;
}

.btn-primary:hover {
	background: #0079bb;
}
