*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'Merriweather Sans', sans-serif;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	position: relative;
}

body {
	overflow-x: hidden;
}

#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(team.png);
	background-position: top left;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}
]


.wrapper {
	margin: 0 auto 100px auto;
	max-width: 960px;
}

.stage {
	list-style: none;
	padding: 0;
}

/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
	display: inline-block;
	width: 260px;
	height: 400px;
	height: 400px;
	margin-bottom: 15%;
	float: left;
	float: none;
	margin: 2% 10% 2% 10%;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

@media(max-width:500px) {
	.scene {
		display: inline-block;
		margin: auto;
		padding-left: 15%;
		text-align: center;
	}
}

.movie {
	width: 260px;
	height: 400px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.movie:hover {
	-webkit-transform: rotateY(-90deg) translateZ(5px);
	-moz-transform: rotateY(-90deg) translateZ(5px);
	transform: rotateY(-90deg) translateZ(5px);
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster,
.movie .info {
	position: absolute;
	width: 260px;
	height: 400px;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.movie .poster {
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
	transform: translateZ(130px);
	background-size: cover;
	background-repeat: no-repeat;
}

.movie .info {
	-webkit-transform: rotateY(90deg) translateZ(130px);
	-moz-transform: rotateY(90deg) translateZ(130px);
	transform: rotateY(90deg) translateZ(130px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
	content: '';
	width: 260px;
	height: 260px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
	box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}

/*************************************
Movie information
**************************************/

.info header {
	color: #FFF;
	font-weight: bold;
	height: 195px;
	height: 85%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
	margin: auto;
}

.info header h1 {
	color: #fff;
	text-align: center;
}

.info header .rating {
	border: 1px solid #FFF;
	padding: 0px 3px;
}

.info p {
	padding: 1.2em 1.4em;
	margin: 2px 0 0;
	font-weight: 700;
	color: #000;
	line-height: 1.4em;

}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
}

.csstransforms3d .movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8);
}

.csstransforms3d .movie .info,
.csstransforms3d .movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
}

.csstransforms3d .movie:hover .info,
.csstransforms3d .movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
}

/*************************************
Posters and still images
**************************************/


.scene .movie .poster {
	background-position: bottom;
	background-size: contain;
	width: 100%;
	height: 100%;
	object-fit: contain;
	vertical-align: baseline;
}



/*---------Full image-------*/

.scene .info header {
	background-size: cover;
	background-position: center;
	background-origin: border-box;
	padding-top: 10%;
}


/*************************************
Fallback
**************************************/
.no-csstransforms3d .movie .poster,
.no-csstransforms3d .movie .info {
	position: relative;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 60.75em) {
	.scene {
		float: none;
		margin: 30px auto 60px;
		margin: auto;
	}
}

/*------------------Modal box---------------*/
.wrap {
	padding: 15px;
}

h1 {
	font-size: 28px;
}

h4,
modal-title {
	font-size: 18px;
	font-weight: bold;
}

.no-borders {
	border: 0px;
}

.body-message {
	font-size: 18px;
}

.centered {
	text-align: center;
}

.btn-primary {
	background-color: #2086c1;
	border-color: transparent;
	outline: none;
	border-radius: 8px;
	font-size: 15px;
	padding: 10px 25px;
}

.btn-primary:hover {
	background-color: #2086c1;
	border-color: transparent;
}

.btn-primary:focus {
	outline: none;
}

.cards {
	padding-bottom: 10%;
	margin-bottom: 10%;
}

/*----------Tabs---------------*/

/*---Tabs end here---*/
/*---Tabs end here---*/
/*---Tabs end here---*/





.nameMem {
	font-size: 1rem;
	text-align: center;
	margin: 0;
	text-transform: none;
	letter-spacing: 1px;
	color: #000;
	background: -webkit-linear-gradient(left, #f57170, #10ddc2, #f57170);
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
	background-size: 1600px 200px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-duration: 3s;
	animation-name: animationgradienttitle;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	margin: 1%;
}

.memdetails {
	color: #000;
	margin: 0;
	text-align: center;
}


@keyframes animationgradienttitle {
	0% {
		background-position: 0 1600px;
	}

	100% {
		background-position: 1600px 0;
	}
}







.li {
	color: #000;
	font-size: 0.5rem;
}


.btn {
	padding: 5px;
	margin-top: 1%;
}

.wrapper h1{
	letter-spacing: 2px;
	font-family: 'Lato', sans-serif;
	margin-top: 2%;
	
}

.primarynames {
	margin: auto;
	margin-top: 0;
}

.primarynames h1 {
	margin: auto;
	font-size: 1.5rem;
	margin-bottom: 10px;
	margin-top: 5px;
	border-bottom: 1px solid #555;
	text-transform: none;
	letter-spacing: 1px;
	text-align: center;
}

.primarynames h3 {
	font-size: 1rem;
	text-transform: none;
}

.primarynames p {
	font-size: 0.85rem;
	margin: auto;
	letter-spacing: 0;
	line-height: 18px;
	font-style: italic;
	text-transform: none;
}

@media(max-width:600px) {
	.poster {
		margin-bottom: 14%;
	}

	.scene {
		background-size: contain;
	}

	.primarynames h1 {
			width: 100%;
	margin-left: 12%;

	}

	.primarynames h3 {}

	.primarynames h3 {}

	.primarynames p {
		
	width: 100%;
	margin-left: 12%;
	}

}


.role {
	margin: auto;
	margin: 0;
}

.modal-title h5 {
	margin: auto;
	text-align: center;
}

.modal-body {
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.modal img {
	width: 40%;
}
@media(max-width:500px){
	.modal img{
		width: 60%;
	}
}

.modal h5{
	text-transform: none;
	letter-spacing: 2px;
	font-size: 1.25rem;
}

.modal h4 {
	font-size: 1.5rem;
	letter-spacing: 2px;
}

.modal ul {
	text-align: left;
}
/*------modal animation--------*/
.modal-backdrop {
	background-color: #336699;
	transition:opacity 0.15s;
}
.modal-backdrop.fade{
	transition: all 0.25s ease;
}
.modal-backdrop.show {
    opacity: 0.95;
}

.close {
	opacity: 0.5;
	transition: all 0.2s ease;
}

.close:hover {
	color: #000;
}

.social-block {
	display: block;
	margin: 0;
	padding: 5px 0 10px 0;
}



/*social icons*/
social-ico {
	padding: 0;
	width: 100%;
	display: block;
	margin: 0;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all {
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/* Social Icons */

.social-ic {
	display: block;
	height: 10rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.social-ic li a {
	display: block;
	float: left;
	text-align: center;
	width: 50px;
	height: 50px;
	margin-right: 1rem;
	text-align: center;
	padding-top: 8px;
	font-size:1.5rem;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;

	/*background-color: #222;*/
	-webkit-box-shadow: inset 0 0 0 40px #222;
	-moz-box-shadow: inset 0 0 0 40px #222;
	-o-box-shadow: inset 0 0 0 40px #222;
	-ms-box-shadow: inset 0 0 0 40px #222;
	box-shadow: inset 0 0 0 40px #222;

	color: #fff;

}

.social-ic li a:hover {
	-webkit-box-shadow: inset 0 0 0 3px #222;
	-moz-box-shadow: inset 0 0 0 3px #222;
	-o-box-shadow: inset 0 0 0 3px #222;
	-ms-box-shadow: inset 0 0 0 3px #222;
	box-shadow: inset 0 0 0 3px #222;

	color: #222;
}




.btn-light{
	color: #000;
	transition: 0.25s all ease;
	background-color: transparent;
	border-radius: 2px;
	margin-bottom: 1%;
	text-transform: none;
}

.btn-light:hover{
	color: #fff;
	background-color: #000;
	
}
