*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: "Aileron";
	src: url("https://2020.igem.org/wiki/images/e/e4/T--IISER_Bhopal--THEBIGPIE-Model_HeadingFont.otf") format("truetype");
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'Merriweather Sans', sans-serif;
}

body {
	overflow-x: hidden;
}

#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(https://2020.igem.org/wiki/images/0/0e/T--IISER_Bhopal--THEBIGPIE-Implementation_clinical_trial_CTA.png);
	background-position:bottom;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 30%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	backdrop-filter: blur(5px);
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}

.trial p {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 17.6px;
	font-weight: 400;
	line-height: 30.8px;
	color: rgb(61, 61, 61);
	margin: auto;
	margin: 2% auto 2% auto;
}

.trial ul {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 17.6px;
	font-weight: 400;
	line-height: 30.8px;
	color: rgb(61, 61, 61);
	margin: 0% auto 2% auto;
}

.trial ol {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 17.6px;
	font-weight: 400;
	line-height: 30.8px;
	color: rgb(61, 61, 61);
	margin: 1% auto 5% auto;
}

.trial h2{
	font-family: 'Aileron', sans-serif;
}

.human-type-I{
	margin: 5% auto 1% auto;
}

.testsI{
	margin: 0% 2% 5% 2%;
}

.human-type-II{
	margin: 5% auto 1% auto;
}

.testsII{
	margin: 0% 2% 5% 2%;
}

.rodent-type-II{
	margin: 5% auto 1% auto;
}
.rodent-type-II{
	margin: 5% auto 1% auto;
}

.references{
	font-family: 'Aileron', sans-serif;
}


/*----------------Parallax-------------------*/

.parallax {
	height: auto;
	background-color:  #75B8C8;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 9;
	margin-top: 8%;
}

.parallax-inner {
	padding-top: 3%;
	padding-bottom: 3%;
	display: block;
	margin-left: auto;
	margin-top: auto;
}

.parallax-inner-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

he1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	font-weight: 500;
	letter-spacing: 3px;
}

@media(max-width:400px) {
	he1 {
		font-size: 1rem;
	}
}

.blank-space{
	padding: 3%;
}


/*Fancybox setting*/
.fancybox-bg {
	background: ;
	opacity: 0.1;
	transition-duration: inherit;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(.47, 0, .74, .71)
}