*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
	position: relative;
}

body {
	overflow-x: hidden;
}

.blankdiv{
	padding: 10%;
}
#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(contributions.png);
	background-position: top left;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}

.img-desc {
	text-align: center;
	font-style: italic;
	color: #4A4A4C;
}


.main-model h2{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 4% auto 1% auto;
	text-transform: none;
}

.main-model h4{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 4% auto 1% auto;
	text-transform: none;
}

.main-model p{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 2% auto 3% auto;
	color: rgb(61,61,61);
}

.main-model ul{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
	margin: 2% auto 3% auto;
	color: rgb(61,61,61);
}

.main-model ol{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
	margin: 2% auto 3% auto;
	color: rgb(61,61,61);
}