*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
}

body {
	overflow-x: hidden;
}

.blankdiv {
	padding: 10%;
}

#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(https://2020.igem.org/wiki/images/1/13/T--IISER_Bhopal--THEBIGPIE-Education-CTA.png);
	background-position: center;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 700;
	border: none;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}


.parallax {
	height: auto;
	background-color: #75B8C8;

	background-repeat: no-repeat;
	background-size: cover;
	opacity: 9;
	margin: 5% auto 5% auto;
}

.parallax-inner {
	padding-top: 3%;
	padding-bottom: 3%;
	display: block;
	background-color: gray;
	margin-left: auto;
	margin-top: auto;
}

.parallax-inner-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

he1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	font-weight: 500;
	letter-spacing: 3px;
}

@media(max-width:400px) {
	he1 {
		font-size: 1rem;
	}
}



/* external css: flickity.css */

.carousel {
	background: #EEE;
}

.carousel img {
	display: block;
	height: 200px;
}

@media screen and (min-width: 768px) {
	.carousel img {
		height: 400px;
	}
}

.txtOne {
	margin: 5% auto 5% auto;
}

.txtTwo {
	margin: auto;
}

.txt-pdf {
	margin: 15% auto 15% auto;
}

@media(max-width:500px) {
	.txt-pdf {
		margin: auto;
	}
}

embed {
	display: block;
	margin: auto;
	width: 100%;
	height: 500px;
}
.pdfdownload{
		display: none;
	}


@media(max-width:500px) {
	embed {
		display: none;
	}

	.pdfdownload {
		display: block;
		margin: auto;
		text-align: center;
	}
}

main p {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 17.6px;
	font-weight: 400;
	line-height: 30.8px;
	color: rgb(61, 61, 61);
	margin: auto;
	margin: 2% auto 2% auto;

}

.img-extent {
	width: 50%;
}
