html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-color: #ffffff;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


body {
	overflow-x: hidden;
}

.col {
	background-color: red;
}

/*Loader*/
.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #2b2828;
	position: fixed;
	top: 0;
	left: 0;
	background-size: cover;
	z-index: 9999;
}

.loader video {
	height: 60%;
	width: 60%;
}

@media(max-width:500px) {
	.loader video {
		height: 100%;
		width: 100%;
	}

}

.loader.hidden {
	animation: fadeout 1.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeout {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

#cta {
	cursor: url('https://img.icons8.com/fluent/48/000000/cursor--v2.png');
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(T--IISER_Bhopal--design.png);
	background-position: bottom;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 3.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}

.img-thumbnail {
	border: none;
	width: 40vw;
}

.collapsing {
	transition: all 0.5s ease;
	outline: none !important;
}

.card {
	font-family: "museo-sans";
	width: 90%;
	display: block;
	margin: auto;
	transition: all 1s;
	border-radius: 5px;
	-webkit-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.4);
	box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.card:hover {
	-webkit-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.64);
	-moz-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.64);
	box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.64);
	background-color: rgba(66, 66, 66, 0.05);
}

.card-body {
	border-radius: 10px;
	background-color: rgba(66, 66, 66, 0.15);
	padding: 5%;
	padding-top: 2%;
}

.gamma {
	font-family: "museo-sans";
}

.btn-block {}

.btn {
	text-transform: none;
	font-size: 1rem;
	font-family: inherit;
}

.ZeroOne {
	padding: 5% 10% 0 10%;
	margin: auto;
}

.ZeroTwo {
	padding: 1% 10% 0 10%;
	margin: auto;
}

@media(max-width:500px) {
	.ZeroOne {
		padding: 2% 8% 0 8%;
	}

	.ZeroTwo {
		padding: 1% 8% 0 8%;
	}
}

.OneOne {
	padding: 3% 0 0 7%;
}

.OneOneA {
	padding: 3% 0 5% 6.5%;
}

.OneOneA .card {
	width: 100%;
}


.OneTwo {
	padding-right: 5%;
	padding-top: 3%;
}

.OneTwo img {
	width: 90%;
	display: block;
	margin: auto;
}

.OneTwo .container {
	padding-left: 0;
	margin-left: 0;
}

@media(max-width:500px) {
	.OneOne {
		padding: 5%;
	}

	.OneOneA {
		padding: 0 5% 0 5%;
	}

	.OneTwo img {
		width: 100%;
	}

	.OneTwo {
		padding: 5%;
	}

	.OneTwo .container {
		margin: auto;
	}

}


.TwoZero {
	padding: 2% 5% 0 5%;
}

.TwoOne {
	padding-left: 5%;
}

.TwoOne .colp-containerOne {
	padding: 2% 0 0 0;
}

.TwoOne .colp-containerTwo {
	padding: 0 0 2% 0;
}

.TwoTwo {
	padding-right: 7%;
	margin-right: 1%;
}

@media(max-width:500px) {
	.TwoZero {
		padding: 2% 5% 0 5%;
	}

	.TwoOne {
		padding: 0 5% 0 5%;
	}

	.TwoTwo {
		padding: 0 5% 2% 5%;
		margin: auto;
	}

}

.ThreeOne {
	padding: 5% 0 5% 5%;
}
.ThreeOne video{
	border:1px solid red;
}

.ThreeTwo {
	padding: 25% 1% 20% 0;
	margin-left: 0;
}

.ThreeTwo img {
	display: block;
	margin: auto;
	width: 80%;
}

@media(max-width:500px) {
	.ThreeOne h1 {
		padding: 0;
		margin: 0;
		visibility: collapse;
	}

	.ThreeOne {
		padding: 2% 5% 0 5%;
		margin: auto;
	}

	.ThreeTwo {
		padding: 2% 0 2% 0;
	}

	.ThreeTwo img {
		width: 100%;
	}

}


.FourOne {
	padding: 2% 0 0 5%;
}

.FourTwo {
	padding: 5% 5% 0 0;
}

@media(max-width:500px) {
	.FourOne {
		padding: 2% 5% 0 5%;
	}

	.FourTwo {
		padding: 0 5% 0 5%;
	}

}

.FiveOne {
	padding: 0 0 0 5%;
}

.FiveTwo {
	padding: 0 5% 0 0;
}

@media(max-width:500px) {
	.FiveOne {
		padding: 0 5% 0 5%;
	}

	.FiveTwo {
		padding: 0 5% 0 5%;
	}
}

.blankspace {
	padding: 2% 15% 2% 15%;
	border-bottom: 5px solid red;
	margin: 0 10% 0 10%;
	border-image: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
	border-image-slice: 1;

}


.parallax {
	height: auto;
	background: url("T--IISER_Bhopal--Solid.jpg") fixed 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 9;

}

.parallax-inner {
	padding-top: 4%;
	padding-bottom: 4%;
	display: block;
	margin-left: auto;
	margin-top: auto;
}


.parallax-inner-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

he1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	letter-spacing: 3px;
}

@media(max-width:400px) {
	he1 {
		font-size: 1rem;
	}
}

/**/
/**/
/**/
/**/

.content:nth-child(odd) {
	background-color: #fff;
}

.content:nth-child(even) {
	background-color: #f2f2f2;

	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

@media(max-width:500px) {
	.content {
		padding-left: 2%;
		padding-right: 2%;
		width: 100%;
	}
}



h1 {
	text-transform: uppercase;
	color: #000;
	font-family: 'Merriweather', serif;
	font-size: 2.55rem;
	font-weight: 400;
	letter-spacing: 1.4px;
	padding: 10px 0;
	margin-bottom: 16px;
}

r {
	font-size: 2.5rem;
	color: #001132;
}

r-2 {
	font-size: 3.75rem;
	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
	background-attachment: fixed;

	/*
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
	background: -webkit-linear-gradient(to right, #434343 0%, black 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

h4 {
	text-transform: none;
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

p {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-weight: 300;
	color: #000;
	font-size: 19.8px;
}

.p-linklist {
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
	color: #000;
}

ul {
	display: inline-block;
	text-align: left;
}

.p-linklist li {
	margin: 0;
	counter-increment: number;
	display: flex;
}

.p-linklist li:before {
	content: counter(number)".";
	margin-right: 5px;
}

@media (max-width: 990px) {
	h1 {
		font-size: 28px;
	}

	r {
		font-size: 25px;
	}

	r-2 {
		font-size: 50px;
	}

	h2 {
		font-size: 20px;
	}

	h4 {
		font-size: 17px;
	}

	p {
		line-height: 22px;
		font-size: 16px;
		color: #000;
	}

	.p-linklist {
		font-size: 16px;
		color: #000;
	}

}

sup {
	font-size: 0.75rem;
}

@media(max-width:500px) {
	sup {
		font-size: 0.5rem;
	}
}

.centred-child {
	padding: 0 5% 0 5%;
	text-align: center;
}

.centred-child video {
	width: 90%;
	background-color: #000;
	height: auto;

}

@media(max-width:500px) {
	.centred-child video {
		width: 100%;
	}
}

.collapse img {
	width: 100%;
}

.content-collapsible img {
	width: 100%;
}

.img {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 50%;
	margin: 0 1% 0 1%;
	text-align: center;
}

@media(max-width:600px) {
	.img {
		width: 100%;
	}
}

.img img {
	max-width: 100%;
}

.img-desc {
	text-align: center;
	font-style: italic;
	color: #4A4A4C;
}

.button_know {
	width: 30%;
	height: 25px;
	font-size: 1rem;
	background-color: inherit;
	display: block;
	margin: auto;
	border-radius: 100px;
	text-align: center;
	cursor: pointer;
	transition: all 0.4s;
}

@media(max-width:500px) {
	.button_know {
		width: 100%;
	}
}

.button_know:hover {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

external_knowmore {
	border-radius: 4px;
	background: linear-gradient(to right, #67b26b, #4ca2cb);
	border: none;
	color: #FFFFFF;

}

.external_knowmore span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;
}

.external_knowmore span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.external_knowmore:hover span {
	padding-right: 25px;
}

.external_knowmore:hover span:after {
	opacity: 1;
	right: 0;
}




/**/
/**/

.collapsible-container {
	display: block;
	margin: auto;
	width: 100%;
}

.ref_collapsible {
	background-color: #777;
	color: white;
	display: block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	padding: 18px;
	width: 32%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 1s;
}


.ref_collapsible:hover {
	background-color: #555;
	border-radius: 10px;
	background-image: url(T--IISER_Bhopal--ref.jpg);
	background-size: cover;
	border: none;
	width: 80%;
	outline: none;
}

.content-collapsible {
	clear: both;
	padding: 0 20px;
	max-height: 0;
	border-radius: 30px;
	box-decoration-break: none;
	border-color: #000;
	box-shadow: 0 10px 10px -5px;
	overflow: hidden;
	border-left: 1px solid #C5C6C6;
	border-right: 1px solid #C5C6C6;
	transition: max-height 0.3s ease-out;
	background-color: #f1f1f1;
}

@media(max-width:500px) {
	.content-collapsible {
		padding: 0 15px;
	}
}


.collapsible-coli {
	background-color: rgba(119, 119, 119, 0.5);
	background-color: rgba(39, 174, 96, 0.95);
	color: #000;
	display: block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	padding: 18px;
	width: 80%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 1s all;
}

.collapsible-coli:hover {
	background-color: rgba(119, 119, 119, 0.5);
	border-radius: 10px;
	color: #fff;
	background-image: url(T--IISER_Bhopal--Collapsible.jpg);
	background-size: cover;
	border: none;
	width: 100%;
}

@media(max-width:500px) {
	.collapsible {
		width: 90%;
		border-radius: 5px;
	}

	.collapsible:hover {
		width: 100%;
	}

	.collapsible-coli {
		width: 90%;
		border-radius: 5px;
	}

	.collapsible-coli:hover {
		width: 100%;
	}
}

.collapsible-coli-large {
	background-color: #777;
	color: white;
	display: block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	padding: 18px;
	width: 40%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 1s;
}

.collapsible-coli-large:hover {
	background-color: #555;
	border-radius: 10px;
	background-image: url(1_1.jpg);
	background-size: cover;
	border: none;
	width: 80%;
}

@media(max-width:500px) {
	.collapsible-coli-large {
		width: 100%;
		border-radius: 5px;
	}

	.collapsible-coli-large:hover {
		width: 100%;
	}
}

.hr1 {
	text-transform: uppercase;
	animation: background-move 10s infinite;
	background: url(Backgrounds/T--IISER_Bhopal--13.jpg);
	/*|13|*/
	font-weight: 1000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes background-move {
	0% {
		background-position: 0% 0%;
	}

	25% {
		background-position: 5% 10%;
	}

	50% {
		background-position: 15% 15%;
	}

	75% {
		background-position: 10% 5%;
	}

	100% {
		background-position: 0% 0%;
	}
}


.content-collapsible img {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 82%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 30px;
	text-align: center;
}

@media(max-width:500px) {
	.content-collapsible img {
		width: 100%;
		margin: 0;
		border-radius: 2px;
	}

}




















a {
	text-decoration: none;
}

.btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
}

.btn:before,
.btn:after {
	content: "";
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: inherit;
}

.btn:before {
	top: 0;
}

.btn:after {
	bottom: 0;
}

.btn:hover > * > *:before,
.btn:hover > * > *:after {
	transform: translate3d(0, 0, 0);
}

.btn:hover > * > * > *:before,
.btn:hover > * > * > *:after {
	transform: translate3d(0, 0, 0);
}

.btn > *:before,
.btn > *:after {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	width: 2px;
	background-color: #252525;
}

.btn > *:before {
	left: 0;
}

.btn > *:after {
	right: 0;
}






.siphner:nth-child(odd) {
	background-color: red;
}

.siphner:nth-child(odd) {
	background-color: green;
}

.btn > * > *:before,
.btn > * > *:after {
	content: "";
	position: absolute;
	left: 0;
	z-index: 9;
	height: 2px;
	width: 100%;
	background-color: #168dff;
}

.btn > * > *:before {
	top: 0;
	transform: translate3d(-105%, 0, 0);
	transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn > * > *:after {
	bottom: 0;
	transform: translate3d(105%, 0, 0);
	transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn > * > * > *:before,
.btn > * > * > *:after {
	content: "";
	position: absolute;
	top: 0;
	z-index: 9;
	height: 100%;
	width: 2px;
	background-color: #168dff;
}

.btn > * > * > *:before {
	left: 0;
	transform: translate3d(0, 105%, 0);
	transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn > * > * > *:after {
	right: 0;
	transform: translate3d(0, -105%, 0);
	transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}


.chevron-holder {
	border: 1px solid red;
	width: 5%;
	display: block;
	overflow: hidden;
	margin: auto;
	margin-bottom: 100px;
}

@media(max-width:500px) {
	.chevron-holder {
		width: 15%;
	}
}

.chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: ' ';
	position: inherit;
	height: 100%;
	width: 50%;
	background: #000;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}

@keyframes move {
	25% {
		opacity: 1;

	}

	33% {
		opacity: 1;
		transform: translateY(30px);
	}

	67% {
		opacity: 1;
		transform: translateY(40px);
	}

	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

.pulsating-circle {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	width: 30px;
	height: 30px;
}

@media(max-width:500px) {
	.pulsating-circle {
		visibility: hidden;
	}
}

.pulsating-circle:before {
	content: '';
	position: relative;
	display: block;
	width: 300%;
	height: 300%;
	box-sizing: border-box;
	margin-left: -100%;
	margin-top: -100%;
	border-radius: 45px;
	background-color: #01a4e9;
	animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .3);
	animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@keyframes pulse-ring {
	0% {
		transform: scale(0.63);
	}

	80%,
	100% {
		opacity: 0;
	}
}

@keyframes pulse-dot {
	0% {
		transform: scale(0.8);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.8);
	}
}



.modal.fade {
	border: 1px solid red;
}

.opacity-animate3 {
	animation: opt-animation3 0.5s;
	-moz-animation-fill-mode: forwards -webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes opt-animation3 {
	0% {
		opacity: 0;
		transform: scale(0.75);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-moz-keyframes opt-animation3 {
	0% {
		opacity: 0;
		transform: scale(0.75);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-o-keyframes opt-animation3 {
	0% {
		opacity: 0;
		transform: scale(0.75);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes opt-animation3 {
	0% {
		opacity: 0;
		transform: scale(0.75);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.modalmap .btn {
	background-color: transparent;
	border: none;
}

area {
	text-decoration: none;
}


.pulse {
	animation: pulse 3s infinite;
	margin: 0 auto;
	display: table;
	margin-top: 50px;
	animation-direction: alternate;
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}



.centred-child-2 {
	display: block;
	margin: auto;
	text-align: center;
}

.centred-child-2 .img-fluid {
	width: 50%;
}

@media(max-width:500px) {
	.centred-child-2 .img-fluid {
		width: 100%;
	}

}




img[data-action="zoom"] {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
	position: relative;
	z-index: 666;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}

img.zoom-img {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}

.zoom-overlay {
	z-index: 420;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	filter: "alpha(opacity=0)";
	opacity: 0;
	-webkit-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
	filter: "alpha(opacity=100)";
	opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
	cursor: default;
}

.zoom {
	transition: 0.25s all;
}

.zoom:hover {}
