html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
	font-family: font-family: 'Lato', sans-serif;
}

body {
	overflow-x: hidden;
}

#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(e2.png);
	background-position: top left;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 500;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		-webkit-text-stroke: 1px red;
		color: #ffff;
		font-weight: 300;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}

.blank-space{
	padding: 5%
}


h2 {
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

h4 {
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

/*
p {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-weight: 300;
	color: #000;
	font-size: 1.25rem;
	line-height: 180%;
	font-size: 20px;
	font-weight: 100;
}
*/

p {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 17.6px;
	font-weight: 400;
	line-height: 30.8px;
	color: rgb(61, 61, 61);
	margin: auto;
	margin: 2% auto 2% auto;
}

@media (max-width: 990px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 20px;
	}

	h4 {
		font-size: 17px;
	}

	p {
		line-height: 22px;
		font-size: 16px;
		color: #000;
	}


}
/*----------------Parallax-------------------*/

.parallax {
	height: auto;
	background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 9;
}

.parallax-inner {
	padding-top: 3%;
	padding-bottom: 3%;
	display: block;
	margin-left: auto;
	margin-top: auto;
}

.parallax-inner-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

he1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	font-weight: 500;
	letter-spacing: 3px;
}

@media(max-width:400px) {
	he1 {
		font-size: 1rem;
	}
}




/*----  Main Style Cards USP  ----*/

#cards_landscape_wrap-2 {
	background: #F7F7F7;
}

#cards_landscape_wrap-2 .container {
	display: block;
}

#cards_landscape_wrap-2 a {
	text-decoration: none;
	outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
	border-radius: 5px;
	width: 90%;
	cursor: default;
	display: block;
	margin: auto;
}

@media(max-width:500px) {
	#cards_landscape_wrap-2 .card-flyer {
		width: 96%;
	}
}

#cards_landscape_wrap-2 .card-flyer .image-box {
	background: #ffffff;
	overflow: hidden;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
	-webkit-transition: all .9s ease;
	-moz-transition: all .9s ease;
	-o-transition: all .9s ease;
	-ms-transition: all .9s ease;
	width: 100%;
	height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
	opacity: 0.7;
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
	padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
	background: #FFFFFF;
	margin: auto;
	margin-top: 50px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
	background: #fff;
	box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
	margin: 10px auto auto 0;
	padding: 0;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
	margin: 0 auto auto 5px;
	display: block;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Roboto Black', sans-serif;
	letter-spacing: 1px;
	color: #00acc1;
}

#cards_landscape_wrap-2 .card-flyer .text-box h7 {
	margin: 5px 0 0 0;
	display: block;
	text-align: center;
	font-size: 1.05rem;
	font-family: 'Roboto Black', sans-serif;
	letter-spacing: 1px;
	color: rgba(0, 33, 71, 0.65);
}

.interview-text {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
	font-weight: 400;
}

.ileft {}

.iright {}

/*img-thubs*/

div.parent {
	display: table;
	padding: 5px;
	width: 100%;
}

div.text {
	vertical-align: middle;
	display: table-cell;
	text-align: justify;
}

div.parent .img {
	vertical-align: middle;
	display: table-cell;
	width: 200px;
}

div.img img {
	width: 100%;
	/* you can change height */
	vertical-align: middle;
}

/*Interview cards*/
.icards {
	margin: auto;
	margin-top: 1%;
	margin-bottom: 2%;
}

.cardA {
	cursor: default;
	padding: 2% 3% 1% 3%;
	box-shadow: 0 8px 6px -6px black;
	border-radius: 10px;
	transition: 0.5s all ease;
	-webkit-box-shadow: -2px 0px 5px 3px rgba(0, 0, 0, 0.26);
	-moz-box-shadow: -2px 0px 5px 3px rgba(0, 0, 0, 0.26);
	box-shadow: -2px 0px 5px 3px rgba(0, 0, 0, 0.26);
}

.cardA:hover {
	-webkit-box-shadow: -2px 0px 5px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -2px 0px 5px 3px rgba(0, 0, 0, 0.5);
	box-shadow: -2px 0px 5px 3px rgba(0, 0, 0, 0.5);
}

.cardB {
	cursor: default;
	padding: 2% 3% 6% 3%;
	box-shadow: 0 8px 6px -6px black;
	border-radius: 10px;
	transition: 0.5s all ease;
	-webkit-box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.26);
	box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.26);
}

.cardB:hover {
	-webkit-box-shadow: 2px 0px 5px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 0px 5px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 0px 5px 3px rgba(0, 0, 0, 0.5);
}

.guide-doc {
	display: block;
	margin: auto;
}

embed {
	display: block;
	margin: auto;
	width: 80%;
	height: 120vh;
}

.smallpdf {
	display: none;
}

@media(max-width:500px) {
	embed {
		display: none;
	}

	.smallpdf {
		display: block;
		margin: auto;
		text-align: center;
	}

	.smallpdf a {
		color: #336699;
		text-decoration: none;
	}
}

.add1{
	padding: 5% 2% 0 2%;
}



h2{
	text-align: center;
}































.chapter {
	margin: 5% auto 2% auto;
}

.text-best {
	line-height: 180%;
	font-size: 20px;
	font-weight: 100;
}

.text-best h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
	letter-spacing: .05em
}

.text-best p {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}








.prev-next {
	display: block;
}

@media(max-width:500px) {
	.prev-next {
		display: none;
	}
}

.buttons-coll {
	width: 90%;
	margin: 25px auto;
	margin-bottom: 0;
	text-align: center;
}

button {
	margin: 20px;
	margin-bottom: 0;
}

.custom-btn {
	padding: 10px 25px;
	font-weight: 500;
	background: transparent;
	outline: none !important;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}

/**** BTN No. 14 ****/

.btn-14 {
	float: right;
	border: 2px solid #000;
	z-index: 1;
	border-radius: 2px;
}

.btn-14:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: #000;
	transition: all 0.3s ease;
}

.btn-14:hover {
	color: #fff;
}

.btn-14:hover:after {
	left: 0;
	width: 100%;
}

.btn-14:active {
	top: 2px;
}

/**** BTN No. 15 ****/

.btn-15 {
	float: left;
	border: 2px solid #000;
	z-index: 1;
	border-radius: 2px;
	content: "";
}

.btn-15:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	direction: rtl;
	z-index: -1;
	background: #000;
	transition: all 0.3s ease;
}

.btn-15:hover {
	color: #fff;
}

.btn-15:hover:after {
	left: auto;
	right: 0;
	width: 100%;
}

.btn-15:active {
	top: 2px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
	background-color: transparent;
}
::-webkit-scrollbar {
	width: 13px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

