.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #DEE1E5;
	position: fixed;
	top: 0;
	left: 0;
	background-size: cover;
	z-index: 9999;
}

.loader video {
	height: 60%;
	width: 60%;
}

@media(max-width:500px) {
	.loader video {
		height: 100%;
		width: 100%;
	}

}

.loader.hidden {
	animation: fadeout 1.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeout {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}


.pre-footer-button-container{
    margin:1%;
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
    border-radius: 50%;
    width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
	background-image: url(imgs/description_logo_cropped.png);
    background-position: center;    
    background-origin: border-box;
}

.ch-img-2 { 
	background-image: url(imgs/design_alt_cropped.png);
    background-position: center;
    background-origin: border-box;
}

.ch-img-3 { 
	background-image: url(imgs/design_icon_cropped.png);
    background-position:bottom;
    background-origin: border-box;
}

.ch-img-4 { 
	background-image: url(imgs/entrepreneurship_icon_cropped.png);
    background-position: center;
    background-origin: border-box;
}

.ch-img-5 { 
	background-image: url(imgs/humanpractices_icon_cropped.png);
    background-position: center;
    background-origin: border-box;
}

.ch-img-6 { 
	background-image: url(imgs/model_icon_cropped.png);
    background-position:right;    
}

.ch-img-7 { 
	background-image: url(imgs/patentlaw_icon_cropped.png);
    background-position:top;
}

.ch-img-8 { 
	background-image: url(imgs/safety_icon_cropped.png);
    background-position:center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-color: #ffff99;
}

.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 20px;
	padding: 45px 0 0 0;
	height: 130px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    text-align: center;
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 0.8rem;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.4s;
	-moz-transition: all 1s ease-in-out 0.4s;
	-o-transition: all 1s ease-in-out 0.4s;
	-ms-transition: all 1s ease-in-out 0.4s;
	transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.75rem;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1) ;
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}





/*FOOTER*/
/*FOOTER*/
/*FOOTER*/
/*FOOTER*/
/*FOOTER*/

footer {
	background: #16222A;
	background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
	background: linear-gradient(59deg, #3A6073, #16222A);
	color: white;
	margin-top: 10px;
}


.foot p {
	color: #fff;
}

.foot h4 {
	color: #fff;
}

.foot p {
	padding-right: 25px;
	text-align: start;
}


footer a {
	color: #fff;
	font-size: 14px;
	transition-duration: 0.2s;
}

footer a:hover {
	color: #FA944B;
	text-decoration: none;
}

.copy {
	font-size: 12px;
	padding: 10px;
	border-top: 1px solid #FFFFFF;
}

.footer-middle {
	padding-top: 2em;
	color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}

.social-network a.icoInstagram:hover {
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}


.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}

.social-network a.icoGmail:hover {
	background-color: #B23121;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoGmail:hover i,
.social-network a.icoLinkedin:hover i {
	color: #fff;
	transition: 0.8s all;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
	color: #44BCDD;
}

.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 100%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 32px;
}

.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i {
	color: #595959;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-network a {
	background-color: #F9F9F9;
}



/*FOOTER*/
/*FOOTER*/
/*FOOTER*/
/*FOOTER*/
/*FOOTER*/
