*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
}
body {
	overflow-x: hidden;
}
#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(Attibutors-CTA.png);
	background-position: top left;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}
@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}
.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}
.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}
@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}
	.desc-title h1 {
		font-size: 2.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}
@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}
.prev-next {
	display: block;
	padding: 1%;
	margin-bottom: 5%;
}
@media(max-width:500px) {
	.prev-next {
		display: none;
	}
}
.buttons-coll {
	width: 90%;
	margin: 25px auto;
	margin-bottom: 0;
	text-align: center;
}
button {
	margin: 20px;
	margin-bottom: 0;
}
.custom-btn {
	padding: 10px 25px;
	font-weight: 500;
	background: transparent;
	outline: none !important;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}

/**** BTN No. 14 ****/

.btn-14 {
	float: right;
	border: 2px solid #000;
	z-index: 1;
	border-radius: 2px;
}
.btn-14:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: #000;
	transition: all 0.3s ease;
}
.btn-14:hover {
	color: #fff;
}
.btn-14:hover:after {
	left: 0;
	width: 100%;
}
.btn-14:active {
	top: 2px;
}

/**** BTN No. 15 ****/

.btn-15 {
	float: left;
	border: 2px solid #000;
	z-index: 1;
	border-radius: 2px;
	content: "";
}
.btn-15:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	direction: rtl;
	z-index: -1;
	background: #000;
	transition: all 0.3s ease;
}
.btn-15:hover {
	color: #fff;
}
.btn-15:hover:after {
	left: auto;
	right: 0;
	width: 100%;
}
.btn-15:active {
	top: 2px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
	background-color: transparent;
}
::-webkit-scrollbar {
	width: 13px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}
.students {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 17.6px;
	font-weight: 400;
	line-height: 30.8px;
	color: rgb(61, 61, 61);
	margin: auto;
	margin: 2% auto 2% auto;
}
.students .row {
	margin: 2% auto 2% auto;
}
.name-details {
	margin: auto;
}
.PI {
	width: 50%;
	margin: auto;
	display: block;
}
@media(max-width:500px) {
	.students h4 {
		text-align: center;
	}
	.students .name-details {
		border-bottom: 2px solid red;
		padding: 5%;
	}
}
h3,
h5 {
	color: #fff;
}
.img-1 {
	width: 80%;
}
.blank-space {
	padding: 10%;
}
.list-profs ol {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 17.6px;
	font-weight: 400;
	line-height: 30.8px;
	color: rgb(61, 61, 61);
	margin: 1% auto 5% auto;
}
ol {
	counter-reset: li;
	list-style: none;
	*list-style: decimal;
	/* Keep using default numbering for IE6/7 */
	font: 15px 'Merriweather Sans', 'lucida sans', sans-serif;
	padding: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	width: 90%;
	margin: 0 auto;
}
ol ol {
	margin-left: 2em;
}
.rounded-list ah {
	cursor: default;
	position: relative;
	display: block;
	padding: .4em .8em .4em 2em;
	*padding: .4em;
	margin: .5em 0;
	background: #ddd;
	border-radius: .3em;
	transition: all .5s ease-out;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	font-weight: 300;
	color: #000;
	font-size: 19.8px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}
.rounded-list ah:hover {
	background: #eee;
}
.rounded-list ah:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 20%;
	margin-top: -1.3em;
	background: #87ceeb;
	height: 2em;
	width: 2em;
	line-height: 1.5em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}
.parallax {
	height: auto;
	background-color: #b8dbdb;
	background-color: orange;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 9;
	margin-bottom: 8%;
	margin-top: 8%;
}
.parallax-inner {
	padding-top: 3%;
	padding-bottom: 3%;
	display: block;
	margin-left: auto;
	margin-top: auto;
}
.parallax-inner-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}
he1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	letter-spacing: 3px;
}
@media(max-width:400px) {
	he1 {
		font-size: 1rem;
	}
}
mark.points {
	opacity: 0.5;
	padding: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.card-header {
	border: none !important;
	background-color: #fff;
	cursor: pointer;
}
.card-footer {
	background-color: #fff;
	font-size: calc(13px + (15 - 13) * ((100vw - 360px) / (1600 - 360))) !important;
}
mark {
	background-color: #eee !important;
	padding: 8px;
	border-radius: 2px;
	cursor: pointer;
	font-size: calc(13px + (15 - 13) * ((100vw - 360px) / (1600 - 360))) !important;
}
.sm-img {
	width: 20px;
	height: 20px;
	vertical-align: middle !important;
}
.test {
	position: absolute;
	bottom: -1px;
	font-size: 12px;
}
.card {
	width: calc(275px + (305 - 275) * ((100vw - 360px) / (1600 - 360))) !important;
}
