html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
}


.col {
	background-color: red;
}

#cta {
	width: 100%;
	height: 600px;
	background-image: url(./imgs/Design-1.png);
	background-attachment: fixed;
	background-position: bottom 75px right 0px;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		/* background-image: ; */
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 3.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}

.bulb {
	margin-left: 13%;
}

.collapsing {
	transition: all 0.5s ease;
	outline: none !important;
}

.card {
	font-family: "museo-sans";
	width: 100%;
	display: block;
	margin: auto;
	transition: all 1s;
	border-radius: 5px;
	-webkit-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.4);
	box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.card:hover {
	-webkit-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.64);
	-moz-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.64);
	box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.64);
	background-color: rgba(66, 66, 66, 0.05);
}

.card-body {
	border-radius: 10px;
	background-color: rgba(66, 66, 66, 0.15);
	padding: 5%;
	padding-top: 2%;
}

.gamma {
	font-family: "museo-sans";
}

/* .btn-block {} */

.btn {
	text-transform: none;
	font-size: 1rem;
	font-family: inherit;
}

.ZeroOne {
	padding: 5% 15% 0 15%;
	margin: auto;
}

.clickable img {
	display: block;
	z-index: 2;
	width: 1200px;
	max-width: 100%;
	height: auto;
	border-style: none;
}

.ZeroTwo {
	padding: 1% 15% 0 15%;
	margin: auto;
}

.ZeroTwoOne {
	font-size: 25px;
	font-weight: 400;
}

@media(max-width:500px) {
	.ZeroOne {
		padding: 2% 8% 0 8%;
	}

	.ZeroTwo {
		padding: 1% 8% 0 8%;
	}
}

.OneOne {
	padding: 0 35px;
}

.OneOneA {
	padding-top: 80px;
}

.OneOneA .card {
	width: 100%;
}

.wrapper {
	width: 100%;
}

@media(max-width:992px) {
	.wrapper {
		width: 100%;
	}
}

.panel-heading {
	padding: 0;
	border: 0;
}

.panel-title > a,
.panel-title > a:active {
	display: block;
	color: #555;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 3px;
	text-decoration: none;
}

.panel-heading a:before {
	font-family: 'FontAwesome';
	content: "\f078";
	float: right;
	transition: all 0.5s;
}

.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.OneTwo img {
	width: 80%;
	display: block;
	margin: auto;
}

.OneTwo .container {
	padding-left: 0;
	margin-left: 0;
}

@media(max-width:500px) {
	.OneOne {
		padding: 5%;
	}

	.OneOneA {
		padding: 0 5% 0 5%;
	}

	.OneTwo img {
		width: 100%;
	}

	.OneTwo {
		padding: 5%;
	}

	.OneTwo .container {
		margin: auto;
	}

}

.colp-containerZero {
	padding: 70px 0 20px 0;
}

.colp-containerOne {
	padding: 0 0 20px 0;
	padding-top: 75px;
}

.colp-containerTwo {
	padding: 0 0 20px 0;
}

.TwoZero {
	margin: 10px 30px 0 30px;
}

.TwoTwo {
	margin-bottom: 20px;
}

@media(max-width:500px) {
	.TwoZero {
		padding: 2% 5% 0 5%;
	}

	.TwoOne {
		padding: 0 5% 0 5%;
	}

	.TwoTwo {
		padding: 0 5% 2% 5%;
		margin: auto;
	}

}

.ThreeOne {
	padding: 0 20px;
}

.ThreeTwo {
	padding-top: 80px;
}

.ThreeTwo img {
	display: block;
	margin: auto;
	width: 80%;
}

.accordion {
	padding-bottom: 20px;
}

@media(max-width:500px) {
	.ThreeOne h1 {
		padding: 0;
		margin: 0;
		visibility: collapse;
	}

	.ThreeOne {
		padding: 2% 5% 0 5%;
		margin: auto;
	}

	.ThreeTwo {
		padding: 2% 0 2% 0;
	}

	.ThreeTwo img {
		width: 100%;
	}

}

.container .video1 {
	margin-top: 70px;
}


.FourOne img {
	margin-top: -20px;
	width: 100%;
}

.FourTwo {
	padding: 5% 0 0 0;
}

@media(max-width:500px) {
	.FourOne {
		padding: 2% 5% 0 5%;
	}

	.FourTwo {
		padding: 0 5% 0 5%;
	}
}

.FiveOne {
	padding-top: 55px;
}

.FiveTwo {
	padding-top: 70px;
	padding-bottom: 20px;
}

@media(max-width:500px) {
	.FiveOne {
		padding: 0 5% 0 5%;
	}

	.FiveTwo {
		padding: 0 5% 0 5%;
	}
}

.blankspace {
	padding: 2% 15% 2% 15%;
	border-bottom: 5px solid red;
	margin: 0 5% 0 5%;
	border-image: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
	border-image-slice: 1;
}

.underline-small {
	display: block;
	position: relative;

}

.parallax {
	height: auto;
	background-image: linear-gradient(to right, #4d9eff, #3b9fff);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 9;
	margin-top: 80px;
	margin-bottom: 80px;
}

.parallax-inner {
	padding-top: 3%;
	padding-bottom: 3%;
	display: block;
	margin: auto;
}


.parallax-inner-img {
	display: block;
	margin: auto;
	text-align: center;
	overflow: hidden;
}

he1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	letter-spacing: 3px;
	transition: all .5s ease-in;
}

@media(max-width:400px) {
	he1 {
		font-size: 1rem;
	}
}


.content:nth-child(odd) {
	background-color: #fff;
}

.content:nth-child(even) {
	background-color: #f2f2f2;

	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

@media(max-width:500px) {
	.content {
		padding-left: 2%;
		padding-right: 2%;
		width: 100%;
	}
}

h1 {
	text-transform: uppercase;
	color: #000;
	font-family: 'Merriweather', serif;
	font-size: 2.55rem;
	font-weight: 400;
	letter-spacing: 1.4px;
	padding: 10px 0;
	margin-bottom: 16px;
}

h2 {
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

h4 {
	text-transform: none;
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

p {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-weight: 300;
	color: #000;
	font-size: 19.8px;
}

.p-linklist {
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
	color: #000;
}

ul {
	display: inline-block;
	text-align: left;
}

.p-linklist li {
	margin: 0;
	counter-increment: number;
	display: flex;
}

.p-linklist li:before {
	content: counter(number)".";
	margin-right: 5px;
}

@media (max-width: 990px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 20px;
	}

	h4 {
		font-size: 17px;
	}

	p {
		line-height: 22px;
		font-size: 16px;
		color: #000;
	}

	.p-linklist {
		font-size: 16px;
		color: #000;
	}
}

sup {
	font-size: 0.75rem;
}

@media(max-width:500px) {
	sup {
		font-size: 0.5rem;
	}
}

.centred-child {
	padding: 0 5% 0 5%;
	text-align: center;
}

.centred-child video {
	width: 90%;
	background-color: #000;
	height: auto;

}

@media(max-width:500px) {
	.centred-child video {
		width: 100%;
	}
}

.collapse img {
	width: 100%;
}

.content-collapsible img {
	width: 100%;
}

.img {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 50%;
	margin: 0 1% 0 1%;
	text-align: center;
}

@media(max-width:600px) {
	.img {
		width: 100%;
	}
}

.img img {
	max-width: 100%;
}

.img-desc {
	text-align: center;
	font-style: italic;
	color: #4A4A4C;
}

.button_know {
	width: 30%;
	height: 25px;
	font-size: 1rem;
	background-color: inherit;
	display: block;
	margin: auto;
	border-radius: 100px;
	text-align: center;
	cursor: pointer;
	transition: all 0.4s;
}

@media(max-width:500px) {
	.button_know {
		width: 100%;
	}
}

.button_know:hover {
	background-image: linear-gradient(135deg, #4d9eff 0%, #3b9fff 100%);
}

external_knowmore {
	border-radius: 4px;
	background: linear-gradient(to right, #4d9eff, #3b9fff);
	border: none;
	color: #FFFFFF;

}

.external_knowmore span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;
}

.external_knowmore span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.external_knowmore:hover span {
	padding-right: 25px;
}

.external_knowmore:hover span:after {
	opacity: 1;
	right: 0;
}



.collapsible-container {
	display: block;
	margin: auto;
	width: 100%;
}

.ref_collapsible {
	background-color: #777;
	color: white;
	display: block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	padding: 18px;
	width: 30%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 1s;
}


.ref_collapsible:hover {
	background-color: #555;
	background-size: cover;
	border: none;
	width: 40%;
	outline: none;
}

.content-collapsible {
	clear: both;
	padding: 0 20px;
	max-height: 0;
	border-radius: 30px;
	box-decoration-break: none;
	border-color: #000;
	border: none;
	box-shadow: 0 10px 10px -5px;
	overflow: hidden;
	border-left: 1px solid #C5C6C6;
	border-right: 1px solid #C5C6C6;
	transition: max-height 0.3s ease-out;
	background-color: #f1f1f1;
}

@media(max-width:500px) {
	.content-collapsible {
		padding: 0 15px;
	}
}


.collapsible-coli {
	background-color: rgba(39, 174, 96, 0.9);
	color: #fff;
	display: block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	padding: 18px;
	width: 90%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 1s all;
}

.collapsible-coliAlt {
	background-color: rgba(39, 174, 96, 0.9);
	transition: all 0.25s ease;
}
	
.collapsible-coliAlt:hover {

	background-color: #0f4c5c;
}

.collapsible-coliAltNarrow {
	width: 70%;
}


.collapsible-coli:hover {
	background-color: #0f4c5c;
	color: #fff;
	background-size: cover;
	border: none;
	width: 100%;
}

@media(max-width:500px) {
	.collapsible {
		width: 90%;
		border-radius: 5px;
	}

	.collapsible:hover {
		width: 100%;
	}

	.collapsible-coli {
		width: 90%;
		border-radius: 5px;
	}

	.collapsible-coli:hover {
		width: 100%;
	}
}

.collapsible-coli-large {
	background-color: #777;
	color: white;
	display: block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	padding: 18px;
	width: 40%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 1s;
}

.collapsible-coli-large:hover {
	background-color: #555;
	border-radius: 10px;
	background-size: cover;
	border: none;
	width: 80%;
}

@media(max-width:500px) {
	.collapsible-coli-large {
		width: 100%;
		border-radius: 5px;
	}

	.collapsible-coli-large:hover {
		width: 100%;
	}
}

.hr1 {
	text-transform: uppercase;
	animation: background-move 10s infinite;
	background: url(https://2020.igem.org/wiki/images/c/cd/T--IISER_Bhopal--THEBIGPIE-Design_effect_bg.jpg);
	font-weight: 1000;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes background-move {
	0% {
		background-position: 0% 0%;
	}

	25% {
		background-position: 5% 10%;
	}

	50% {
		background-position: 15% 15%;
	}

	75% {
		background-position: 10% 5%;
	}

	100% {
		background-position: 0% 0%;
	}
}


.content-collapsible img {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 82%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 30px;
	text-align: center;
}

@media(max-width:500px) {
	.content-collapsible img {
		width: 100%;
		margin: 0;
		border-radius: 2px;
	}
}

a {
	text-decoration: none;
}

.modalmap .btn {
	background-color: transparent;
	border: none;
}

area {
	text-decoration: none;
}

.centred-child-2 {
	display: block;
	margin: auto;
	text-align: center;
}

.centred-child-2 .img-fluid {
	width: 100%;
}

@media(max-width:500px) {
	.centred-child-2 .img-fluid {
		width: 100%;
	}
}

.parta {
	outline: none;
}
