html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
}

body {
	overflow-x: hidden;
}

#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(contributions.png);
	background-position: top left;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}






















.writer-container {
	display: block;
	margin: auto;
	width: 22%;
	visibility: hidden;
}

.typewriter h1 {
	font-size: 3rem;
	overflow: hidden;
	visibility: visible;
	/* Ensures the content is not revealed until the animation */
	border-right: 3px solid red;
	/* The typwriter cursor */
	white-space: nowrap;
	/* Keeps the content on a single line */
	margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */
	letter-spacing: 2px;
	/* Adjust as needed */
	animation:
		typing 2.5s steps(12, end),
		blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: orange;
	}
}




svg {
	display: block;
	width: 100vw;
	height: 100vh;
	font: 1em 'Great Vibes', cursive;
	animation: f 1s forwards;
}

@keyframes f {
	to {
		background: #fff;
	}
}
