html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
}

body {
	overflow-x: hidden;
}


#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(s2.png);
	background-position: bottom right;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:1000px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}


.parallax {
	height: auto;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);

	background-repeat: no-repeat;
	background-size: cover;
	opacity: 9;
}

.parallax-inner {
	padding-top: 3%;
	padding-bottom: 3%;
	display: block;
	margin-left: auto;
	margin-top: auto;
}


.parallax-inner-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

he1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	letter-spacing: 3px;
}

@media(max-width:400px) {
	he1 {
		font-size: 1rem;
	}
}

h2 {
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

h4 {
	text-transform: none;
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

.text-light {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-size: 19.8px;
	text-align: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

p {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-weight: 300;
	color: #000;
	font-size: 19.8px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

@media (max-width: 990px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 20px;
	}

	h4 {
		font-size: 17px;
	}

	p {
		line-height: 22px;
		font-size: 16px;
		color: #000;
	}
}

ol {
	counter-reset: li;
	list-style: none;
	*list-style: decimal;
	/* Keep using default numbering for IE6/7 */
	font: 15px 'Merriweather Sans', 'lucida sans', sans-serif;
	padding: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	width: 90%;
	margin: 0 auto;
}

ol ol {
	margin-left: 2em;
}

.rounded-list ah {
	cursor: default;
	position: relative;
	display: block;
	padding: .4em .8em .4em 2em;
	*padding: .4em;
	margin: .5em 0;
	background: #ddd;
	border-radius: .3em;
	transition: all .5s ease-out;

	font-family: 'Lato', sans-serif;
	text-align: justify;
	font-weight: 300;
	color: #000;
	font-size: 19.8px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

.rounded-list ah:hover {
	background: #eee;
}

.rounded-list ah:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 20%;
	margin-top: -1.3em;
	background: #87ceeb;
	height: 2em;
	width: 2em;
	line-height: 1.5em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}


/*-------for Padding-----------*/
.smain {
	padding-bottom: 10%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5% 10% 10% 10%;
}

.cfr {
	padding: 5% 10% 5% 10%;
}

.cfr1 {
	padding: 5% 10% 1% 10%;
}

.cfrmiddle {
	padding: 1% 10% 1%% 10%;
}

.cfr2 {
	padding: 1% 10% 5% 10%;
}

.cfr3 {
	padding: 1% 10% 5% 10%;
}

@media(max-width:500px) {
	.smain {
		padding-bottom: 10%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 5% 2% 10% 2%;
	}

	.cfr {
		padding: 5% 2% 5% 2%;
	}

	.cfr1 {
		padding: 5% 3% 1% 3%;
	}

	.cfrmiddle {
		padding: 1% 3% 1%% 3%;
	}

	.cfr2 {
		padding: 1% 3% 5% 3%;
	}

	.cfr3 {
		padding: 1% 3% 5% 3%;
	}
}


@media(max-width:1000px) {
	.smain {
		padding-bottom: 10%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 5% 2% 10% 2%;
	}

	.cfr {
		padding: 5% 2% 5% 2%;
	}

	.cfr1 {
		padding: 5% 3% 1% 3%;
	}

	.cfrmiddle {
		padding: 1% 3% 1%% 3%;
	}

	.cfr2 {
		padding: 1% 3% 5% 3%;
	}

	.cfr3 {
		padding: 1% 3% 5% 3%;
	}
}