html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
}

body {
	overflow-x: hidden;
	position: relative;
}


#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(https://2020.igem.org/wiki/images/9/90/T--IISER_Bhopal--THEBIGPIE-Safety_CTA.png);
	background-position: bottom right;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:1000px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 15%;
	padding-left: 0;
	padding-right: 50%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	border: none;
	font-weight: 1000;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
		padding-right: 0;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		color: #000;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}


.parallax {
	height: auto;
	background-color:  #75B8C8;

	background-repeat: no-repeat;
	background-size: cover;
	opacity: 9;
}

.parallax-inner {
	padding-top: 3%;
	padding-bottom: 3%;
	display: block;
	margin-left: auto;
	margin-top: auto;
}


.parallax-inner-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

he1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	letter-spacing: 3px;
}

@media(max-width:400px) {
	he1 {
		font-size: 1rem;
	}
}

h2 {
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

h4 {
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

.text-light {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-size: 19.8px;
	text-align: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

main p {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 17.6px;
	font-weight: 400;
	line-height: 30.8px;
	color: rgb(61, 61, 61);
	margin: auto;
	margin: 2% auto 2% auto;
	color: #000;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

@media (max-width: 990px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 20px;
	}

	h4 {
		font-size: 17px;
	}

	p {
		line-height: 22px;
		font-size: 16px;
		color: #000;
	}
}



/*-------for Padding-----------*/
.smain {
	padding-bottom: 10%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5% 10% 10% 10%;
}

.cfr {
	padding: 5% 10% 5% 10%;
}

.cfr1 {
	padding: 5% 10% 1% 10%;
}

.cfrmiddle {
	padding: 1% 10% 1%% 10%;
}

.cfr2 {
	padding: 1% 10% 5% 10%;
}

.cfr3 {
	padding: 1% 10% 5% 10%;
}

@media(max-width:500px) {
	.smain {
		padding-bottom: 10%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 5% 2% 10% 2%;
	}

	.cfr {
		padding: 5% 2% 5% 2%;
	}

	.cfr1 {
		padding: 5% 3% 1% 3%;
	}

	.cfrmiddle {
		padding: 1% 3% 1%% 3%;
	}

	.cfr2 {
		padding: 1% 3% 5% 3%;
	}

	.cfr3 {
		padding: 1% 3% 5% 3%;
	}
}


@media(max-width:1000px) {
	.smain {
		padding-bottom: 10%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 5% 2% 10% 2%;
	}

	.cfr {
		padding: 5% 2% 5% 2%;
	}

	.cfr1 {
		padding: 5% 3% 1% 3%;
	}

	.cfrmiddle {
		padding: 1% 3% 1%% 3%;
	}

	.cfr2 {
		padding: 1% 3% 5% 3%;
	}

	.cfr3 {
		padding: 1% 3% 5% 3%;
	}
}


.collapsible-container {
	display: block;
	margin: auto;
	width: 100%;
}


.content-collapsible {
	clear: both;
	padding: 0 20px;
	max-height: 0;
	border-radius: 30px;
	box-decoration-break: none;
	border-color: #000;
	box-shadow: 0 10px 10px -5px;
	overflow: hidden;
	border-left: 1px solid #C5C6C6;
	border-right: 1px solid #C5C6C6;
	transition: max-height 0.3s ease-out;
	background-color: #f1f1f1;
}

@media(max-width:500px) {
	.content-collapsible {
		padding: 0 15px;
	}
}


.collapsible-coli {
	background-color: rgba(39, 174, 96, 0.9);
	background-color: #b8dbdb;
	
	color: #000;
	display: block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	padding: 18px;
	width: 80%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 1s all;
}

.collapsible-coli:hover {
	background-color: rgba(39, 174, 96, 1.0);
	color: #000;
	background-size: cover;
	border: none;
	width: 100%;
}

@media(max-width:500px) {
	.collapsible {
		width: 90%;
		border-radius: 5px;
	}

	.collapsible:hover {
		width: 100%;
	}

	.collapsible-coli {
		width: 90%;
		border-radius: 5px;
	}

	.collapsible-coli:hover {
		width: 100%;
	}
}

@media(max-width:500px) {

	.collapsible-coli-large:hover {
		width: 100%;
	}
}
