html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
}

body {
	overflow-x: hidden;
}

#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(safety.png);
	background-image: url(S4.png);
	background-position: bottom right;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	margin-bottom: 5%;
}

@media(max-width:1000px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 2.25rem;
		color: #fff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}


.parallax {
	height: auto;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);

	background-repeat: no-repeat;
	background-size: cover;
	opacity: 9;
}

.parallax-inner {
	padding-top: 3%;
	padding-bottom: 3%;
	display: block;
	margin-left: auto;
	margin-top: auto;
}


.parallax-inner-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

he1 {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	letter-spacing: 3px;
}

@media(max-width:400px) {
	he1 {
		font-size: 1rem;
	}
}

p {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	font-weight: 300;
	color: #000;
	font-size: 1.25rem;
	line-height: 150%;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: normal;
}

thead {
	text-align: center;
}

tbody {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-weight: 300;
	color: #000;
	font-size: 19.8px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

@media(max-width:990px) {
	tbody {
		line-height: 22px;
		font-size: 16px;
		color: #000;
	}
}

tbody .para {}


/*
.efed-1 {
	width: 15%;
}

.efed-2 {
	width: 15%;
}

.efed-3 {
	width: 15%;
}

.efed-4 {
	width: 55%;
}


.efed-5 {
	width: 10%;
}
*/
.image{
	margin-top: 0;
	display: block;
	width: 40%;
}
h2 {
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

h4 {
	text-transform: none;
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

.text-light {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-size: 19.8px;
	text-align: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

p {
	font-family: 'Lato', sans-serif;
	text-align: justify;
	line-height: 30px;
	font-weight: 300;
	color: #000;
	font-size: 19.8px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
}

@media (max-width: 990px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 20px;
	}

	h4 {
		font-size: 17px;
	}

	p {
		line-height: 22px;
		font-size: 16px;
		color: #000;
	}
}

.piehead {
	font-size: 1.5rem;
	background-color: #CDDCDC;
	background-image: radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
	background-blend-mode: screen, overlay;
	text-transform: none;
	border-radius: 5px;
}

.collapsible {
	background-color:;
	color: #000;
	cursor: pointer;
	padding: 18px;
	width: 50%;
	display: block;
	margin: auto;
	border: none;
	text-align: center;
	font-size: 1.5rem;
}

.active,
.collapsible:hover {
	background-color:;
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 2s ease-out;
	background-color: #f1f1f1;
	background-color: #fff;
}

.ldr{
	font-size: 1rem;
	color: #000;
	font-weight: 800;
}

.ldr2{
	font-size: 1rem;
	color: #000;
	font-weight: 800;
	text-transform: none;
}

.cdr{
	margin: 5% auto 5% auto;
}
.cdr2{
	margin: 2% auto 5% auto;
}

.blank{
	padding: 5%;
}