*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 100%;
	position: relative;
}

body {
	overflow-x: hidden;
}

#wrapper {
	background: #262b2e;
	display: block;
	overflow: hidden;
	height: 85%;
	width: 100%;
	text-align: center;
	position: absolute;
	display: table;
}

#title {
	display: table-cell;
	vertical-align: middle;
	z-index: 999;
}

#title h2 {
	color: #fff;
	font-size: 45px;
	font-family: "museo-slab";
	font-family: 'Lato', sans-serif;
}

#title h3 {
	color: #fff;
	font-size: 25px;
	font-family: "museo-sans";
	font-weight: 300;
}

#wrapper canvas {
	position: absolute;
	top: 0;
	display: block;
	left: 0;
	width: 100vw;
	height: auto;
}

@media(max-width:500px) {
	#wrapper{
		height: 60%;
	}
	#title {
		top:100px;
		
	}
	#title h2 {
		font-size: 2rem;
	}

	#title h3 {
		font-size: 1rem;
	}
	#wrapper canvas {
		height: 60vh;
		width: auto;
	}
}

#canvas {
	z-index: 1;
}

#canvasbg {
	z-index: -10;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.6;
}

.blank{
	height: 1000px;
}